{% for comment in comments %}
	<div class="comm">
		<p class="nom_edinaute">{{ comment.user.label }}<time datetime="{{ comment.getCreationDate|date('m/d/Y') }}" class="date_comm">Il y a {{ comment.delay }}</p>
		{% render "WittyUserBundle:Profile:avatar" with {'id': comment.user.id } %}
		<p class="texte_comm">{{ comment.content|nl2br }}</p>
	</div>
{% endfor %}