/* WittyBar */

#bandeauHaut{
	background-image: url(../images/bandeau_haut.png);
	height: 30px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.container_bandeau{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

#menu_witty{
	float:left;
	position:relative;
}

#menu_witty form{
	float:left;
}
#menu_witty submit{
	text-decoration:none;
}

.btn_mwg{
	display:block;
	background-image: url(../images/btn_mwg_hover.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	float:left;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-right:-1px;
	cursor:pointer;
}

.btn_mwn{
	display:block;
	background-image: url(../images/btn_mwn_normal.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	float:left;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	cursor:pointer;
}

.btn_mwn:hover{
	display:block;
	background-image: url(../images/btn_mwn_hover.png);	
}

.btn_mws{
	display:block;
	background-image: url(../images/btn_mws_normal.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	float:left;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	cursor:pointer;
}

.btn_mws:hover{
	display:block;
	background-image: url(../images/btn_mws_hover.png);	
}

#espace_login{
	float:right;
	position:relative;
	width: 30%;
}

.btn_sidentifier{
	display:block;
	background-image: url(../images/btn_sidentifier_normal.png);
 	background-repeat: no-repeat;
	width: 111px;
  	height: 30px;
	float:right;
	margin-top:0px;
	margin-left:auto;
	margin-right: auto;
	position:relative;
	cursor:pointer;
}

.btn_sidentifier:hover{
	display:block;
	background-image: url(../images/btn_sidentifier_hover.png);	
}

.plus-pseudo{
	font-size:14px;
	margin-right:1px;
}

.btn_sinscrire{
	display:block;
  	height: 42px;
	float:right;
	margin-top:0px;
	margin-left: auto;
	margin-right:3%;
	position:relative;
	cursor:pointer;
	color:white;
	margin-top: 10px;
}

.btn_sinscrire:hover{
	color:#5c90e7;
}
.orange{
	background-color:#D88F0E;
}
.bleu{
	background-color:#598EEE;
}
.btn_profil{
	display:block;
	/*background-color:#f6f6f6;*/
	width:30%;
	min-width: 111px;
  	height: 22px;
	float:right;
	margin-top:0px;
	margin-left:auto;
	/*margin-right: 3%;*/
	position:relative;
	cursor:pointer;
	padding:3px 7px 7px 7px;
	/*color: #d88f0e;*/
	color: white;
}

.btn_profil:hover{
	color: white;
	background-color:#D89000;
/*
	background-color:#d88f0e;
	color: #FFF;*/
}


.btn_deconnexion{
	display:block;
	/*background-color:#f6f6f6;*/
	width:100%
	min-width: 111px;
  	height: 22px;
	float:right;
	margin-top:0px;
	margin-left:auto;
	margin-right: auto;
	position:relative;
	cursor:pointer;
	padding: 3px 7px 7px 7px;
	color:white;/*color: #d88f0e;*/
}

.btn_deconnexion:hover{
	color:#D89000;
}

.img_profil{
	display:block;
	background-color:#000;
	width: 23px;
  	height: 23px;
	float:left;
	margin-right:7px;
}

.pseudo{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
}
.pseudo-connecte{
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	float:right;
	margin-top:6px;
}

#menu_reseauSociaux{
	float:right;
	margin-right:15%;
	position:relative;
}

.btn_facebook{
	display:block;
	float:right;
	background-image: url(../images/wittybar/btn_header_facebook_normal.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	cursor:pointer;
}

.facebook_connect {
    margin-left: 1%;
    padding: 5px 0 0;
	float:right;
}

.btn_facebook:hover{
	display:block;
	background-image: url(../images/wittybar/btn_header_facebook_hover.png);	
}

.btn_twitter{
	display:block;
	float:right;
	background-image: url(../images/wittybar/btn_header_twitter_normal.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-left:-2px;
	cursor:pointer;
}

.btn_twitter:hover{
	display:block;
	background-image: url(../images/wittybar/btn_header_twitter_hover.png);	
}

.btn_dailymotion{
	display:block;
	float:right;
	background-image: url(../images/wittybar/btn_header_dailymotion_normal.png);
 	background-repeat: no-repeat;
	width: 116px;
  	height: 30px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-left:-1px;
	cursor:pointer;
}

.btn_dailymotion:hover{
	display:block;
	background-image: url(../images/wittybar/btn_header_dailymotion_hover.png);	
}

/* --- POP UP Login --- */


#fade { /*--Masque opaque noir de fond--*/
	display: none; /*--masqué par défaut--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .50;
	z-index: 9999;
}

.popup_block{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}

/*--Gérer la position fixed pour IE6--*/
*html #fade {
position: absolute;
}
*html .popup_block {
position: absolute;
}

#haut_popup{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:25px;
	width:100%;
	border-bottom: solid 1px #dddbdb;
	margin-bottom:15px;
}

.titre_popup{
	font-family:Arial, Helvetica, sans-serif;
	color:#4575c7;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}

.close{
	font-family:Arial, Helvetica, sans-serif;
	color:#CCC;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	float:right;
	cursor:pointer;
}

.close:hover{
	color:#666;
}

.btn_seconnecter{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:35px;
	width:165px;
	background-image:url(../images/btn_seconnecter_normal.png);
	margin-top:10px;
	float:right;
	cursor:pointer;
}

.btn_seconnecter:hover{
	background-image:url(../images/btn_seconnecter_hover.png);
}

#bas_popup_gauche{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:50px;
	width:130px;
	float:left;
	margin-top:5px;
}

.texte_popup{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#514846;
	font-weight:bold;
}

.champs_inscription{
	display:block;
	width:300px;
}

.champspopup{
	display:block;
	border: 1px solid #dddbdb;
	padding:5px;
	margin:0;
	height:20px;
	width:340px;
	background-color:#FFF;
	margin-bottom:15px;
	
	border-radius:4px;
}

.champspopup:focus{
	-webkit-box-shadow: 0px 0px 5px rgba(94,137,217,0.1);
	-moz-box-shadow: 0px 0px 5px rgba(94,137,217,0.1);
	-o-box-shadow: 0px 0px 5px rgba(94,137,217,0.1);
	-ms-box-shadow: 0px 0px 5px rgba(94,137,217,0.1);
	box-shadow: 0px 0px 5px rgba(94,137,217,0.3);
}

.texte_popuplogin{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#514846;
	margin-bottom:10px;
}

.texte_popuplogin2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#514846;
	margin-bottom:10px;
	margin-top:5px;
}

.texte_popuplogin3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ababab;
	margin-bottom:10px;
	text-decoration:underline; 
	cursor:pointer;
}

.texte_popuplogin4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	color:#FFF;
	float:left;
}

.texte_popuplogin3:hover{
	color:#514846;
}

.checkbox{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:-1px;
}

#login_facebook{
	display:block;
	width:350px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-color:#3B62B2;
	padding:20px;
}

#haut_popup2{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:25px;
	width:100%;
	border-bottom: solid 1px #FFF;
	margin-bottom:15px;
}

#login_normal{
	display:block;
	padding: 20px;
}

.jaime{
	margin-bottom:10px;
	float:right;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/jaime.png);
	height:15px;
	width:17px;
}

/* --- POP UP Login --- */

.popup_block2{
	display: none; /*--masqué par défaut--*/
	background: #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}