{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - L'édition participative{% endblock %}

{% block content %}
  
   <div class="blocTitrePage">
    	<p class="titrePage titrePage_faq">CGU</p>
    </div>
    
    <div id="container">
		<br/>
		<h1>Article 1 : Présentation du site</h1>
		<br/>
		<p>
			La société WITTY EDITIONS SAS est une Société par Actions Simplifiée au capital de 7.067 (sept mille soixante-sept) euros inscrite au RCS de Paris sous le numéro B 523 518 249 et dont le siège social est situé au 14 rue Soleillet BP 26, 75020 Paris, France.<br/>

			WITTY EDITIONS SAS est une maison d’édition de jeux de société innovante proposant un processus éditorial original qui redonne toute sa place aux joueurs dans le choix des parutions de jeux.<br/>

			WITTY EDITIONS SAS anime donc le Site http://www.mywittygames.com et vise à créer un espace lié au monde des jeux de sociétés et à l’édition communautaire.<br/>

			Le Site est destiné aux Visiteurs et aux Membres pour leur permettre de découvrir de nouveaux jeux de sociétés et de contribuer le cas échéant au lancement d’un jeu de société.<br/>

			Le Site comprend plusieurs rubriques :<br/>

			Mon compte, Mes paramètres, Mon profil, Mes jeux, Mes commandes, Mes amis ainsi que des rubriques plus générales : Les Jeux, Les Editeurs, Les News et En Savoir Plus.<br/>

			Cette liste des rubriques et leur contenu sont susceptibles d’être modifiés par WITTY EDITIONS SAS à tout instant et sans préavis.<br/>

			Les présentes Conditions Générales d’Utilisation (ci-après " CGU ") ont pour objet de définir les dispositions qui s’appliquent aux Utilisateurs du site, définis comme les personnes physiques ou morales surfant sur le site en quelque qualité que ce soit.<br/>

			Ces CGU prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.<br/>
		</p>
		<br/>
		
		<h1>Article 2 : Définitions</h1>
		<br/>
		<p>
			-« Boutique » : Société spécialisée dans la vente de jeux de société et de produits dérivés.<br/>

			-« Compte de Membre » : pages privatives d’un Membre à partir desquelles il peut renseigner, consulter et modifier ses informations personnelles. Pour le Membre Edinaute, il peut consulter le nombre des parts qu’il possède, le solde de son crédit, ses transactions, etc.<br/>

			-« Droits » : désigne l’ensemble des droits de propriété intellectuelle, des droits voisins du droit d’auteur, des droits de la personnalité et/ou des droits des marques, lesdits droits s’entendant de ceux prévus par le Code de la Propriété Littéraire et Artistique et les conventions internationales<br/>

			-« Edinaute » : membre ayant apporté une contribution financière à au moins un projet. Il est souligné que l’Edinaute n’est pas un éditeur au sens de l’article L.132-1 du Code de la propriété littéraire et artistique.<br/>

			-« Identifiants » : désigne le pseudonyme, ainsi que tout code confidentiel ou mot de passe choisi par le Membre et permettant à ces derniers de s’identifier afin de créer et d’accéder à leur Compte de Membre<br/>

			-« Investissement » : valeur monétaire que paye l’Edinaute pour l’achat d’une ou plusieurs Parts nette des frais de gestion prélevés dans les conditions prévues à l’Article 4 des Conditions Particulières des Edinautes.<br/>

			-« Jeux de sociétés » : Idées et mécaniques ludiques qui permettent à une ou plusieurs personnes de s’amuser, à l’exclusion des applications en ligne de type Iphone, Ipad ou Smartphones.<br/>

			-« Membre » : désigne une personne physique ou morale inscrite sur le Site et disposant d’un Compte de Membre.<br/>

			-« Parts » : désigne un titre virtuel d’une valeur faciale de 25 € (modifiable pour chaque Jeux de société) permettant aux Edinautes de contribuer au développement et au lancement de jeux de sociétés.<br/>

			-« Prime d’intéressement »: désigne la somme monétaire dont dispose un Membre suite au(x) versement(s) qu’il reçoit au titre des tickets d’investissement qu’il possède dans les conditions prévues à l’article 8 des Conditions Particulières des Edinautes. Elle est versée pendant 3 ans à compter de la date officielle de sortie du jeu dans le commerce.<br/>

			-« Service » : désigne le Service objet du présent Contrat.<br/>

			-« Site »: désigne le Site web http://www.mywittygames.com ou toute URL qui pourrait lui être substituée par WITTY EDITIONS SAS ainsi que tous les autres Sites exploités par WITTY EDITIONS SAS<br/>

			-« Ticket d’investissement » : désigne un titre virtuel permettant d’obtenir une Prime en fonction des Unités vendues. Il a une durée de vie de trois ans à compter de la date officielle de sortie du jeu dans le commerce.<br/>

			-« Unités vendues ou "Unités de jeux de société vendues" : nombre de boîtes physiques de jeux de sociétés vendues chaque semestre à compter de la date de sortie du Jeu de société, à l’exclusion des applications Iphone, Ipad ou Smartphones ainsi que des boîtes "Extension" proposant une variante de jeu à la boîte principale du jeu. De manière générale, le décompte des unités vendues exclut tous les produits dérivés liés au jeu (figurines, t-shirts, matériel d’extensions...)<br/>

			-« Utilisateur » : désigne une personne physique ou morale accédant au Site et pouvant être répartie dans les catégories suivantes : <br/>
		</p>
		<br/>
		<p class="tabulation">
			- Visiteur ;<br/>
			- Membre ;<br/>
			- Edinaute ;<br/>
			- Boutique.<br/>
		</p>
		<br/>
		<p>
			-« Visiteur » : désigne un internaute naviguant sur le Site sans s’inscrire.<br/>
		</p>
		<br/>
		
		<h1>Article 3 : Accès au site en tant que Visiteur</h1>
		<br/>
		<p>
			L’accès au Site est gratuit pour tous les Visiteurs. Tous les logiciels et matériels nécessaires à l’utilisation des services du Site, à l’exception de ceux proposés directement sur le Site, sont à leur charge.<br/>

			En tant que Visiteur, vous bénéficiez d’un droit d’usage privé et non exclusif sur le contenu du Site. Tout renvoi au Site par le biais de liens hypertextes doit respecter les conditions prévues à l’article 10 « Sécurité informatique ».<br/>

			En accédant et surfant sur ce site en quelque qualité que ce soit, l’Utilisateur accepte, sans limitation, les termes des présentes CGU. S’il n’y adhère pas, il est prié de se déconnecter.<br/>
		</p>
		<br/>
		
		<h1>Article 4 : Accès au site en en qualité de membre Boutique ou d’Edinaute</h1>
		<br/>
		<p>
			Pour créer un profil en qualité de Boutique ou d’Edinaute, vous devez :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- Avoir plus de 18 ans<br/>
			- Créer un profil en nom propre. La création d’un profil au nom d’un tiers est interdite, sauf avec son autorisation.<br/>
			- En ce qui concerne les Boutiques : avoir une activité de vente de jeux de société en dur ou en ligne.<br/>
		</p>
		<br/>
		<p>
			Les Boutiques et les Edinautes créent leur profil personnel selon les conditions particulières pour les Boutiques et les Edinautes.<br/>

			Vous ne pouvez créer qu’un seul profil par personne, mais il vous est loisible d’être inscrit comme Boutique et Edinaute sur le même profil.<br/>

			Lors de votre inscription (ou demande d’ouverture de compte) sur notre site via le formulaire d’inscription en ligne, vous devez au minimum déclarer les informations personnelles nécessaires à la gestion de votre compte, telles qu’elles sont mentionnées dans les formulaires d’inscription. Vous vous engagez à fournir des informations exactes lors de votre inscription, et vous vous efforcerez de les maintenir à jour en cas de changement.<br/>

			En tant que Membre, vous choisissez votre mot de passe au moment de l’inscription. Ce mot de passe est strictement personnel et confidentiel. Vous êtes le seul responsable en ce qui concerne le maintien de cette confidentialité du mot de passe. Vous ne révèlerez pas le mot de passe à des tiers, ni ne fournirez aux tiers l’accès à la page web dans le but d’inclure ou de modifier l’information contenue sur celle-ci.<br/>

			Vous informerez immédiatement WITTY EDITIONS SAS si vous suspectez toute utilisation ou tout accès non autorisés du mot de passe, notamment en cas de phishing.<br/>

			Lors de votre inscription en tant que Membre, vous vous engagez à respecter les présentes CGU. Si vous ne respectez pas ces conditions générales d’utilisation, WITTY EDITIONS SAS se réserve le droit d’annuler votre compte en tant que Membre et de réclamer d’éventuels dommages et intérêts. Les Parts éventuellement liées au compte litigieux deviendraient alors la propriété de WITTY EDITIONS SAS et ne pourraient faire l’objet d’aucun remboursement.<br/>
		</p>
		<br/>
		
		<h1>Article 5 : Bonne conduite</h1>
		<br/>
		<p>
			WITTY EDITIONS SAS s’efforce de mettre à votre disposition un site convivial et sécurisé en supposant que vous respecterez les règles de bonne conduite vis-à-vis des Membres.<br/>

			S’agissant d’un Site d’échange et de partage d’informations, vous vous devez de respecter les règles suivantes, sans préjudice de ce qui précède :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- Vous respecterez l’avis des autres utilisateurs du site sur les forums ou les autres outils mis à votre disposition sur le Site.<br/><br/>
			- Vous ne harcèlerez pas les autres utilisateurs sur les forums ou les autres outils mis à votre disposition sur le Site, vous ne les insulterez pas et ne tiendrez pas des propos calomnieux, diffamatoires ou racistes sur le Site. <br/><br/>
			- Vous n’enverrez pas et ne publierez pas de communications à caractère commercial.<br/><br/>
			- Vous n’essaierez pas d’obtenir des informations concernant les autres Utilisateurs, ni manuellement, ni à l’aide de méthodes automatisées.<br/><br/>
			- Vous ne téléchargerez pas de virus ou autres codes susceptibles de mettre en péril le fonctionnement du Site.<br/><br/>
			- Vous ne solliciterez pas les informations de connexion et n’accéderez pas (ou ne tenterez pas d’accéder) à un compte appartenant à un autre Utilisateur.<br/>
		</p>
		<br/>
		
		<h1>Article 6 : Données personnelles et vie privée</h1>
		<br/>
		<p>
			Le Site a fait l’objet d’une déclaration à la CNIL conformément à la Loi Numéro 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés sous le numéro de récépissé 1446790.<br/>

			Les données collectées et ultérieurement traitées par le Site sont celles que l’Utilisateur transmet volontairement au Site notamment via les formulaires d’inscription. Il s’engage à fournir des informations exactes, à jour et complètes et à informer sans délai WITTY EDITIONS SAS de toute modification de ses données personnelles en envoyant un courriel à l’adresse service contact@mywittygames.com et à faire toutes les modifications correspondantes dans son Compte de Membre. Conformément à l’article 6-II de la loi numéro 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il s’engage notamment à ne pas créer une fausse identité de nature à induire WITTY EDITIONS SAS ou tout tiers en erreur et à ne pas usurper l’identité d’une autre personne morale ou physique.<br/><br/>
			
			Pour pouvoir créer un Compte de Membre, l’Utilisateur doit créer ses Identifiants et remplir tous les champs obligatoires, à savoir : 
		</p>
		<br/>
		<p class="tabulation">
			- identité (Nom, Prénom) ;<br/>
			- sexe ;<br/>
			- âge ;<br/>
			- adresse postale ;<br/>
			- ville ;<br/>
			- pays ;<br/>
			- adresse email ;<br/>
			- pseudonyme ;<br/>
		</p>
		<br/>
		<p>
			En cochant la case "J’accepte les Conditions Générales d’Utilisation ", l’Utilisateur reconnait être informé du contenu de ces CGU et s’engage à les respecter. Il est informé que WITTY EDITIONS SAS pourra modifier à tout moment les présentes CGU.<br/>

			Pour pouvoir acheter une Part en tant que Membre, l’Utilisateur doit au préalable s’être inscrit comme Membre via le formulaire d’inscription et avoir coché la case "J’accepte les Conditions Générales d’Utilisation ", relatives notamment à l’interdiction pour un mineur de miser ou parier. En cochant la case "J’accepte les Conditions Particulières des Edinautes" ou "J’accepte les Conditions Particulières des Boutiques", le Membre reconnait être informé du contenu de ces Conditions et s’engage à les respecter. Il est informé que WITTY EDITIONS SAS pourra modifier à tout moment ces Conditions.<br/>

			Pour pouvoir procéder au rapatriement de son Investissement par virement sur son compte bancaire, l’Utilisateur doit au préalable s’être inscrit comme Membre via le formulaire d’inscription. L’utilisateur doit remplir tous les champs obligatoires, à savoir : 
		</p>
		<br/>
		<p class="tabulation">
			- informations bancaires (IBAN, BIC) ;<br/>
			- identité du titulaire (Nom, Prénom) du compte vers lequel sera effectué le virement.<br/>
		</p>
		<br/>
		<p>
			Les données collectées automatiquement par le Site sont l’adresse IP (adresse de l’ordinateur de l’Utilisateur), à l’exclusion de toute autre. Le Site est susceptible de mettre en oeuvre un procédé automatique de traçage (cookie), auquel l’Utilisateur peut faire obstacle, s’il n’est pas un utilisateur inscrit, en modifiant les paramètres idoines de son navigateur Internet.<br/>

			L’Utilisateur est seul responsable de l’utilisation faite de ses Identifiants.<br/>

			Conformément à l’article 34 de la loi précitée (Loi Numéro 78-17), l’Utilisateur peut à tout moment accéder aux données personnelles le concernant et peut en demander leur rectification, leur complément, leur clarification, leur mise à jour ou leur suppression par lettre simple (WITTY EDITIONS SAS 6 rue Legraverend 75012 PARIS) ou par email à l’adresse suivante contact@mywittygames.com, en indiquant ses nom, prénom, date et lieu de naissance, adresse postale et électronique et identifiants.<br/>
		</p>
		<br/>
		
		<h1>Article 7: Caractère privé de l’offre de parts</h1>
		<br/>
		<p>
			La valeur totale cumulée de l’ensemble des parts vendues par WITTY EDITIONS SAS pour un jeu ne pourra, au moment de la vente, excéder 100.000 Euros (cent milles) ou sa contrevaleur en devises.<br/>
		</p>
		<br/>
		
		<h1>Article 8 : Approbation des conditions particulières</h1>
		<br/>
		<p>
			Le Membre Boutique et Edinaute s’engagent à approuver préalablement au versement de son Investissement les Conditions Particulières qui lui sont applicables.<br/>
		</p>
		<br/>
		
		<h1>Article 9 : Disponibilité du Site</h1>
		<br/>
		<p>
			Le Site est disponible en continu et sans interruption autre que les périodes de maintenance et sauf indisponibilité pour raisons techniques ou administratives. Dans la mesure du possible, nous vous tiendrons informés par mail en cas d’indisponibilité prévisible.<br/>
		</p>
		<br/>
		<p>
			WITTY EDITIONS SAS ne peut être tenue responsable des problèmes de fonctionnement d’Internet et des connexions personnelles et du matériel des Utilisateurs.<br/>
		</p>
		<br/>
		
		<h1>Article 10 : Liens hypertexte</h1>
		<br/>
		<p>
			Le Site peut contenir des liens hypertextes pointant vers d’autres sites Internet qui n’appartiennent pas à WITTY EDITIONS SAS ou ne sont pas contrôlés par elle. WITTY EDITIONS SAS décline toute responsabilité à propos de la navigation en général sur ces sites tiers. WITTY EDITIONS SAS ne cautionne ni la publicité, ni les produits ou autres matériels figurant sur ces sites Internet ou ressources externes, voire accessibles depuis ceux-ci.<br/>

			WITTY EDITIONS SAS ne peut être tenue responsable de toute perte ou dommage que l’Utilisateur pourrait subir du fait de la mise à disposition de ces sites ou ressources externes ou du fait de la confiance que l’utilisateur accorde quant à l’exhaustivité, l’exactitude ou l’existence de toute publicité, tout produit ou autre matériel sur ces sites Internet ou ressources, voire accessibles depuis ceux-ci.<br/>

			WITTY EDITIONS SAS autorise l’utilisation de liens hypertextes relatifs à la promotion d’un jeu de société qui renvoient, depuis un autre site, au site de WITTY EDITIONS SAS (par exemple depuis la page personnelle d’un Edinaute ou le site d’une Boutique). L’Utilisateur ne peut reproduire directement ou indirectement les liens hypertextes vers le site à des fins étrangères à la promotion du jeu de société.<br/>

			Vous pouvez librement utiliser des liens hypertextes renvoyant sur la page d’accueil du site de WITTY EDITIONS SAS dès lors que vous veillez à ne pas créer de confusion entre le site de WITTY EDITIONS SAS et des sites tiers.<br/>

			De façon générale, WITTY EDITIONS SAS n’autorise pas l’utilisation de liens hypertextes utilisant les techniques suivantes :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- le « framing » défini comme une technique permettant, sans quitter le site d’origine, d’insérer une page du Site qui vient s’afficher dans un cadre de la page web d’origine ;<br/>
			- le « deep-linking » défini comme l’insertion d’un lien hypertexte renvoyant à une page secondaire du Site ;<br/>
			- le « inline linking » défini comme un hyperlien permettant d’inclure dans la page web d’origine une image provenant d’une autre page web.<br/>
		</p>
		<br/>
		<p>
			L’utilisation de liens hypertextes renvoyant au site de WITTY EDITIONS SAS n’emporte en aucune manière un droit de licence sur le contenu du site, ni aucune responsabilité de quant au WITTY EDITIONS SAS site abritant le lien.<br/>

			Le créateur de liens hypertextes vers le site s’engage en outre :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- à ne pas nuire à la réputation du Site, des auteurs et autres personnes qui y sont mentionnés et des informations qui s’y trouvent ;<br/>
			- assumer l’entière responsabilité en cas de dommage ou perte causés au site WITTY EDITIONS SAS, directement ou indirectement liés à celui-ci ;<br/>
			- ne pas créer d’hyperlien à partir d’un site contenant des informations susceptibles de faire l’objet d’une action en calomnie ou diffamation, en contrefaçon, ou pour toute autre atteinte aux droits et aux intérêts de tiers, ni à partir d’un site ne convenant pas aux standards de décence et de bon goût ;<br/>
			- indemniser WITTY EDITIONS SAS en cas de recours d’une tierce partie, suite au non-respect de ces termes et conditions ou suite à l’accès via l’hyperlien vers le site WITTY EDITIONS SAS.<br/>
		</p>
		<br/>
		
		<h1>Article 11 : Sécurité informatique</h1>
		<br/>
		<p>
			Le Visiteur s’engage à n’avoir aucune activité sur le Site susceptible de perturber ou de tenter de perturber les activités du site. En particulier, WITTY EDITIONS SAS interdit l’utilisation de fonctions JavaScript aux fins de déposer ou lire des cookies sur le site, rediriger les Edinautes ou les Boutiques vers une autre page et les JavaScript "Include " et "iframe".<br/>

			Toute violation des dispositions du présent article est susceptible d’entraîner des sanctions, dont notamment :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- l’annulation des offres de service ;<br/>
			- la suspension du compte du membre responsable.<br/>
		</p>
		<br/>
		<p>
			Toutes les transactions financières des Boutiques et des Edinautes sont gérées par des prestataires financiers professionnels et sont sécurisées. Pour plus de détails, reportez-vous aux conditions particulières des Boutiques et des Edinautes.<br/>
		</p>
		<br/>
		
		<h1>Article 12 : Protection de la propriété du Site</h1>
		<br/>
		<p>
			Le Site est la propriété exclusive de WITTY EDITIONS SAS. D’une manière générale, WITTY EDITIONS SAS accorde un droit gratuit, personnel, non-exclusif et non-transférable d’accès et d’utilisation du site, tout autre droit étant expressément exclu sans l’accord préalable écrit de WITTY EDITIONS SAS.<br/>

			Tout contenu disponible sur le site (y compris les éléments visuels, audio et audiovisuels, les logiciels, scripts, fonctions interactives, lay-out, interface, codes sources, photographies, dessins, textes) sont et restent la propriété exclusive de WITTY EDITIONS SAS ou est (con)cédé à WITTY EDITIONS SAS, notamment par une Boutique ou un Edinaute.<br/>

			Ce contenu est protégé par le droit d’auteur, le droit des marques et tous les autres droits de propriété intellectuelle ou droits connexes détenus par WITTY EDITIONS SAS.<br/>

			Toutes les marques de tiers présentes sur le Site constituent des droits de marques détenus par leurs propriétaires respectifs.<br/>

			Le contenu du Site ne peut être téléchargé, copié, reproduit, distribué, transmis, diffusé, affiché, modifié, adapté, vendu, concédé sous licence ou exploité de toute autre manière et à quelque finalité que ce soit, en tout ou en partie, sans l’accord préalable écrit de WITTY EDITIONS SAS ou dans le strict respect des présentes CGU et des conditions particulières.<br/>

			WITTY EDITIONS SAS se réserve tous les droits non expressément concédés sur le Site.<br/>
		</p>
		<br/>
		
		<h1>Article 13 : Limite de responsabilité de WITTY EDITIONS SAS</h1>
		<br/>
		<p>
			WITTY EDITIONS SAS ne sera pas responsable à l’égard du Membre de toute perte ou dommage qu’il pourrait subir du fait de :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- la confiance accordée à l’exhaustivité, l’exactitude ou l’existence de toute publicité ou résultant de toute relation ou transaction entre un membre et l’un quelconque des annonceurs ou sponsors dont la publicité figure sur le site ;<br/><br/>
			- tout changement que WITTY EDITIONS SAS pourrait apporter aux services proposés sur le site ou toute suppression temporaire ou définitive de l’offre ou des fonctions proposées sur le site;<br/><br/>
			- défaut de communication par le membre à WITTY EDITIONS SAS des informations précises concernant son compte;<br/><br/>
			- incapacité du Membre à conserver en toute sécurité et confidentialité son mot de passe ou les informations de son compte ;<br/><br/>
			- toute interruption, défaut, erreur dans les fonctionnalités proposées par le site, délai dans les opérations ou les transmissions, virus informatique ou tout autre élément dommageable, défaut du réseau.<br/>
		</p>
		<br/>
		<p>
			La responsabilité de WITTY EDITIONS SAS ne pourra être engagée que dans les conditions de droit commun, à raison des dommages directs et prévisibles subis par l’Utilisateur, conformément aux dispositions des articles 1150 et suivants du Code civil.<br/>

			WITTY EDITIONS SAS ne serait être tenue responsable des dommages indirects. De convention expresse entre les parties, sont assimilés aux dommages indirects tout préjudice moral ou commercial, pertes de bénéfices, de chiffre d’affaires, de commandes, de revenus ou de clientèle, pertes de données et toute action dirigée contre l’Utilisateur par un tiers et les conséquences en résultant.<br/>

			Quels que soient la nature, le fondement et les modalités d’une action qui serait engagée par l’Utilisateur, la responsabilité de WITTY EDITIONS SAS pour les dommages directs, ne pourra dépasser, sur l’ensemble de la durée de fourniture du service et tous faits générateurs confondus, un montant égal à 100 (cent) euros pour l’ensemble de la durée d’exécution des présentes.<br/>

			L’Utilisateur reconnaît que les garanties et limitations de responsabilité stipulées ci-dessus opèrent entre les parties une répartition raisonnable des risques et des responsabilités eu égard au contexte et aux conditions financières encadrant la fourniture du service. L’Utilisateur est averti et conscient que WITTY EDITIONS SAS n’aurait pas conclu le présent contrat sans les limitations de responsabilité et de garantie qu’il établit.<br/>
		</p>
		<br/>
		
		<p class="title cgu">Article 14 : Durée de la relation avec WITTY EDITIONS SAS<p>
		<br/>
		<p>
			En qualité de visiteur non-inscrit, les CGU s’appliquent pendant la durée de la connexion au site.<br/>

			En qualité de Membre inscrit, les CGU et les Conditions Particulières concernées s’appliquent aussi longtemps que vous conservez votre Compte de membre sur le Site.<br/>

			WITTY EDITIONS SAS peut à tout moment et sans préavis mettre fin aux présentes si l’utilisateur ne respecte pas l’une des dispositions des Conditions Générales d’Utilisation ou des Conditions Particulières applicables.<br/>
		</p>
		<br/>
		
		<h1>Article 15 : Nullité de clause</h1>
		<br/>
		<p>
			Si certaines dispositions des présentes CGU s’avéraient privées d’effet, cette circonstance n’affectera en rien la validité des autres dispositions, ni celle des Conditions Particulières applicables aux Boutiques et aux Edinautes dans leur ensemble. WITTY EDITIONS SAS les remplacera par des dispositions juridiquement valables et conformes à l’esprit et l’objet des présentes CGU.<br/>
		</p>
		<br/>
		
		<h1>Article 16 : Modification des conditions générales d’utilisation</h1>
		<br/>
		<p>
			WITTY EDITIONS SAS se garde la possibilité de modifier à tout moment les présentes Conditions Générales d’Utilisation en fonction notamment de l’évolution des conditions d’exploitation du Site et de l’amélioration des services proposés. Ces modifications vous seront notifiées par tout moyen à notre convenance, généralement par information sur le Site ou sur votre messagerie interne WITTY EDITIONS SAS.<br/>
		</p>
		<br/>
		
		<h1>Article 17 : Droit applicable - Langue</h1>
		<br/>
		<p>
			De convention expresse entre les parties, les présentes CGU sont régies et soumises au droit français. Les présentes CGU sont rédigées en langue française. Dans le cas où il serait traduit en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.<br/>
		</p>
		<br/>
		
		<h1>Article 18 : Litiges</h1>
		<br/>
		<p>
		Tous les litiges auxquels les présentes CGU pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux compétents dans les conditions de droit commun. En cas de litige avec des professionnels et/ou commerçants les tribunaux de Paris seront compétents <br/>
		</p>
		<br/>
</div>
   
   
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittymwg/js/faq.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
