{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - CGU edinautes{% endblock %}

{% block content %}
  
   <div class="blocTitrePage">
    	<p class="titrePage titrePage_faq">Conditions Particulières des Edinautes</p>
    </div>
    
    <div id="container">
		<br/>
		<h1>PREAMBULE</h1>
		<br/>
		<p>
			Les présentes conditions particulières détaillées ci-dessous (ci-après désignées les "Conditions Particulières"), régissent les relations contractuelles entre tout Edinaute, utilisateur du site http://www.mywittygames.com (ci-après désigné le « Site ») participant au financement d’un jeu de société en ligne sous forme de participations et la société Witty Editions (ci-après « Witty Editions »), société de droit français, enregistrée au RCS de Paris sous le n° B 523 518 249, dont le siège social est situé, 14 rue Soleillet, 75020 Paris dont le représentant est Monsieur Yannick ROBERT, son Président.<br/>

			Witty Editions a pour activité principale la production, l’édition, et la commercialisation de tous produits de jeux dits de société, sur tous supports, par tous procédés connus ou à découvrir, et l’exploitation de tous droits s’y rapportant. Grâce à sa plateforme, Witty Editions est à même de récolter des fonds pour financer les projets des auteurs de jeux, en offrant des contreparties matérielles ou financières aux Edinautes. A ce titre Witty Editions est soumis aux lois françaises en vigueur, notamment la loi « Informatique et Libertés » et la loi « Pour la Confiance en l’Economie Numérique », en sa qualité de vendeur à distance via Internet.<br/>

			Les présentes Conditions Particulières s’appliquent à toute Participation  effectuée par un Edinaute.<br/>
			Elles complètent les Conditions Générales d’Utilisation de Witty Editions que l’Edinaute certifie avoir lues et acceptées. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 1 : Définitions</h1>
		<br/>
		<p>
			-« Compte Internet » : page privative d’un Membre contenant les informations financières liées au montant des participations réalisées pour un jeu de société.<br/>
			-« Compte de Membre » : pages privatives d’un Membre à partir desquelles il peut renseigner, consulter et modifier ses informations personnelles. Le Membre Edinaute peut consulter les participations qu’il a effectuées, le solde de son crédit, ses transactions, etc. <br/>
			-« Compte de Tiers » : compte bancaire de Witty Editions et dissocié de son compte courant, sur lequel sont versées les Participations des Edinautes, qui restent leur propriété.<br/>
			-« Contrepartie » : résultat matériel ou financier éventuellement proposé aux Edinautes en échange de leur participation. La ou les Contrepartie(s) liée(s) à un Projet seront définies au cas par cas sur le Site, à l’entière discrétion de Witty Editions.<br/>
			-« Crédit » : désigne la somme monétaire dont un Membre dispose sur le Site et qu’il peut selon son choix dépenser sur le Site ou rapatrier sur son compte en banque. Le Crédit d’un Membre est conservé sur le Compte Internet.<br/>
			-« Droits » : désigne l’ensemble des droits de propriété intellectuelle, des droits voisins du droit d’auteur, des droits de la personnalité et/ou des droits des marques, lesdits droits s’entendant de ceux prévus par le Code de la Propriété Littéraire et Artistique et les conventions internationales <br/>
			-« Edinaute » : Membre ayant apporté une contribution financière à au moins un projet, sous forme de participations. Il est souligné que l’Edinaute n’est pas un éditeur au sens de l’article L.132-1 du Code de la propriété littéraire et artistique. <br/>
			-« Créateur d’un Projet » : désigne toute personne physique ou morale qui souhaite mettre en ligne et faire financer un Projet de jeu de société<br/>
			-« Identifiants » : désigne le pseudonyme, ainsi que tout code confidentiel ou mot de passe choisi par le Membre et lui permettant de s’identifier afin de créer et d’accéder à son Compte de Membre <br/>
			-« Jauge » : montant cumulé des Participations souscrites par les Edinautes dans le cadre du financement  d’un Projet de création d’un jeu de société. <br/>
			-« Jeux de sociétés » : idées et mécaniques ludiques qui permettent à une ou plusieurs personnes de s’amuser. <br/>
			-« Membre » : désigne une personne physique ou morale inscrite sur le Site et disposant d’un Compte de Membre. <br/>
			-« Page Projet » : page dédiée à chaque projet de financement d’un jeu de société proposé par Witty Editions et figurant sur le Site, le Membre pouvant y accéder par un simple clic. La Page contient notamment, la description du jeu ainsi que les informations relatives à son Créateur, le montant de la jauge à atteindre, le détail des contreparties matérielles ou financières, le montant éventuel de frais à régler, <br/>
			-« Participation » : valeur monétaire que paie l’Edinaute dans le cadre du financement d’un jeu nette des frais de gestion prélevés dans les conditions prévues à l’Article 4.1 des Présentes.<br/>
			-« Pépinière »: désigne une zone spéciale du Site où peuvent être présentés des nouveaux prototypes de jeux par leurs Créateurs qui peuvent à ce titre créer une page dédiée à leur projet sous forme de blog leur permettant de communiquer sur leur création.<br/>
			-« Prime d’intéressement »: désigne la somme monétaire dont dispose un Edinaute suite au(x) versement(s) qu’il reçoit au titre des Tickets d’investissement qu’il possède. <br/>
			- « Prototype » : règle de jeu écrite, fichier word avec éléments à découper, ou cartes à jouer en fonction de l’état d’avancement du projet. Permet une évolution progressive vers le produit fini.<br/>
			-« Site » : désigne le Site web http://www.mywittygames.com ou toute URL qui pourrait lui être substituée par Witty Editions ainsi que tous les autres sites exploités par Witty Editions. <br/>
			-«Ticket d’investissement » : désigne un titre virtuel permettant d’obtenir une Prime d’intéressement en fonction des Unités de jeu vendues. <br/>
			-« Unités vendues » ou "Unités de jeux de société vendues" : nombre de boîtes de jeux de sociétés vendues chaque semestre à compter de la date de sortie du Jeu de société, à l’exclusion des applications Iphone, Ipad ou Smartphones ainsi que des boîtes "Extension" proposant une variante de jeu par rapport à la boîte initiale. De manière générale, le décompte des Unités vendues exclut tous les produits dérivés liés au jeu (figurines, t-shirts, matériel d’extensions...) <br/>
			-« Utilisateur » : désigne toute personne physique accédant au Site et pouvant faire partie des catégories suivantes : Membre; Edinaute<br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 2 : Description des Services de WITTY EDITIONS</h1>
		<br/>
		<br/>
		<h2>2.1. Mise en ligne et participation sur des jeux de société</h2>
		<br/>
		<p>
			Witty Editions offre au Membre la possibilité de découvrir des jeux de sociétés sur http://www.mywittygames.com, et de devenir s’il le souhaite Edinaute.<br/>
			L’Edinaute peut soutenir un jeu de société qu’il affectionne et investir. La participation donne droit à des Contreparties matérielles et éventuellement  financières sous forme de Prime d’intéressement.<br/>

			Pour chaque nouvelle idée de jeu de société proposée par Witty Editions aux Membres, est créée une Page Projet, permettant à l’Edinaute d’avoir accès à toutes les informations nécessaires aux conditions de financement et au déroulement de celui-ci. <br/>

			Cette Page Projet contient notamment :
		</p>
		<br/>
		<p class="tabulation">
			-	Les informations relatives au Projet du jeu<br/>
			-	Les informations relatives au Créateur du Projet<br/>
			-	La durée pendant laquelle les Edinautes peuvent contribuer au Projet.<br/>
			-	Le montant minimal de la Jauge à atteindre permettant le financement du Projet<br/>
			-	Le montant de tous frais supplémentaires en cas d’envoi de contreparties matérielles  à l’étranger ou résultant de la réalisation du financement<br/>
			-	Les contreparties matérielles ou financières, résultat de la Participation faite par l’Edinaute.<br/>
		</p>
		<br/>
		<p>
			Les Edinautes ayant soutenu le jeu de société s’engagent à le promouvoir, par tous moyens, autour d’eux lors de sa sortie, ce qui augmentera significativement la visibilité de ce dernier, parmi la masse des nouveautés. <br/>
			Les Edinautes s’engagent par la présente à octroyer à Witty Editions un mandat de gestion sur la réalisation et le développement du jeu de société sur lequel ils souhaitent investir, dans les conditions de l’article 8 des présentes Conditions Particulières.<br/>
		</p>
		<br/>
		<br/>
		<br/>
		
		<h2>2.2. Présentation des nouveaux Projets de jeux de société</h2>
		<br/>
		<p>
			Une zone spéciale du Site appelée Pépinière est réalisée afin de permettre aux Créateurs de présenter de nouveaux prototypes de jeux. Ceux-ci peuvent à ce titre, créer une page dédiée à leur jeu sous forme de blog ; leur permettant de s’exprimer sur leurs créations et les présenter.<br/>
			Dans le cas où Witty Editions constate un véritable intérêt pour le jeu présenté, du fait de la mise en place d’un compteur de visites, il peut créer une Page Projet, afin de le proposer à ses Membres qui souhaiteraient le financer par leurs Participations, dans les conditions de l’article 2.1 des présentes.<br/>

			Witty Editions propose par ailleurs, directement de nouveaux Projets de jeux de société, que la société met en ligne par la création de Pages Projet dans les conditions de l’article 2.1 des présentes. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 3 : Obligation d’inscription en tant que Membre</h1>
		<br/>
		<p>
			Pour pouvoir financer les projets des Créateurs par leurs Participations, et plus généralement accéder aux services de Witty Editions, l’Utilisateur doit au préalable s’inscrire sur le Site en tant que Membre, dans les conditions prévues dans les Conditions Générales d’Utilisation, puis deviendra un Edinaute dès sa première Participation. <br/>
			Il peut à tout moment clôturer son compte de Membre et récupèrer le montant de sa souscription sur le solde de son Compte Internet.
		</p>
		<br/>
		<br/>
		
		<h1>Article 4 : Participations et Contreparties</h1>
		<br/>
		<br/>
		<h2>4.1. Modalités générales</h2>
		<br/>
		<p>
			Le Membre souhaitant financer la création d’un nouveau de jeu de société, peut s’il le souhaite acheter des Contreparties, et devenir alors un Edinaute. Les Membres mineurs ne sont pas autorisés à investir. En achetant une Contrepartie, les Membres déclarent donc être majeurs.<br/>
			Une Contrepartie ne constitue pas un titre négociable. Chaque Contrepartie est la propriété de l’Edinaute qui l’a souscrite. Elle est incessible. <br/>
			Chaque souscription de Contrepartie peut faire l’objet de la perception par Witty Editions de frais de gestion d’un montant qui varie en fonction du nombre de Contreparties souscrites ainsi que du moyen de paiement employé. Ce montant sera indiqué à l’Edinaute préalablement au paiement de sa Participation. Ces frais de gestion ne seront en aucun cas supérieurs à 5% de la valeur nominale de la Contrepartie.<br/>
			La souscription à une Contrepartie doit rester une activité de divertissement et l’Edinaute ne doit pas avoir d’espérances déraisonnables quant aux gains qu’il peut en tirer.<br/>
			La valeur de chaque Contrepartie peut varier d’un jeu à un autre, et figure sur chaque Page Projet.<br/>

			Les Participations souscrites par les Edinautes, permettant le financement de la Jauge, peuvent donner lieu à :<br/>
		</p>
		<br/>
		<p class="tabulation">
			-	Des Contreparties matérielles, détaillées dans chaque Page Projet et différentes selon le Projet présenté<br/>
			-	Ou une Contrepartie financière, résultat de l’acquisition de Tickets d’Investissement permettant de recevoir en fonction du nombre de jeux vendus des Primes d’Intéressement.<br/>
		</p>
		<br/>
		<p>
			{# Paragraphe modifié
				Tant que le Projet dans lequel il a investi n’a pas atteint son objectif de financement, l’Edinaute reste libre de déplacer ses Participations sur un autre projet ou de les récupérer, dans la limite de 24 heures avant l’atteinte de la Jauge, le retrait de ces fonds ne pouvant diminuer le montant de la Jauge en dessous de son objectif.<br/>
				Si le Jeu de société n’est pas édité ou si l’Edinaute clôture son compte de Membre il récupère le montant de sa souscription sur le solde de son Compte Internet. Il a alors le choix de garder ce montant pour le réinvestir sur un autre Projet ou demander le transfert du solde sur son compte bancaire personnel.<br/>
			#}
			{# Début du nouveau paragraphe #}
				Tant que le Projet dans lequel il a investi n’a pas atteint son objectif de financement, l’Edinaute reste libre de déplacer ses Participations sur un autre projet ou de les récupérer, dans la limite de 24 heures avant l’atteinte de la Jauge, le retrait de ces fonds ne pouvant diminuer le montant de la Jauge en dessous de son objectif.<br/>
				Il récupère alors le montant de sa souscription sur le solde de son Compte Internet. Il a alors le choix de garder ce montant pour le réinvestir sur un autre Projet ou demander le transfert du solde sur son compte bancaire personnel.<br/>
				Une fois que le Projet a atteint son objectif de financement, l'Edinaute ne peut plus retirer ses Participations.<br/>
			{# Fin du nouveau paragraphe #}
			
			Les éventuels frais bancaires liés aux transferts de leurs avoirs financiers sur leur compte Internet en direction de leur compte bancaire d’origine sont à la charge de l’Edinaute.<br/>

			L’Edinaute est averti et comprend qu’il existe un risque de perdre de l’argent en investissant dans un Projet de jeu sur le Site et qu’il est seul responsable des montants souscrits. <br/>

			Le montant maximum investi par un Edinaute pour le financement d’un Projet de jeu ne pourra excéder la somme de 10 000 euros (dix mille euros).<br/>
			La valeur totale cumulée de l’ensemble des Participations effectuées par les Edinautes pour le financement d’un jeu ne pourra, au moment de la vente, excéder 100.000 Euros (cent mille euros) ou sa contrevaleur en devises.<br/>
		</p>
		<br/>
		<br/>

		<h2>4.2. Participations donnant lieu à une/des Contreparties financières</h2>
		<br/>
		<p>
			{# Ajout aux CGUs backées par Melinda - commence ici #}
			A compter du 24/10/2012, aucun projet présenté sur la plate-forme ne bénéficiera de Tickets d'investissement. (projets de la saison 3) <br/>
			Les projets financés avant cette date conservent leurs Tickets d'Investissement et les retours financiers associés, selon les modalités suivantes :
			{# Termine ici #}
			{# Cette phrase était dans les CGU backées par Melinda -> Tous les Projets ne bénéficient pas de Tickets d'Investissement, dans le cas contraire, le montant par Ticket d'Investissement est précisé sur la Page Projet.<br/> #}
			En contrepartie de l’obtention d’un Ticket d’investissement, Witty Editions versera à l’Edinaute une Prime d’intéressement. Le montant de la Prime est évolutif par tranches selon le nombre de Jeux de société vendus chaque semestre à compter de la sortie du Jeu de société et correspond à un 1 Ticket d’investissement. <br/>
			Si le montant de la Participation pour l’obtention d’un Ticket d’Investissement est de 50 €, et que l’Edinaute investi 250 €, il recevra 5 Tickets d’investissement hors offres promotionnelles. <br/>
			Les montants indiqués ci-dessous sont valables pour un Ticket d’investissement et sont des multiples d’une variable X correspondant à la moitié du prix d’achat d’un Ticket décidé lors du lancement du Jeu : <br/>

			Dans l’exemple suivant, X sera fixé à 25€ : <br/>
		</p>
		<br/>
		<p class="tabulation">
			- Strictement moins de 5.000 unités de Jeux de société vendus = 0 € de prime versé.<br/>
			- Pour 5.000 unités de Jeux de société vendus = X € de prime (soit 25€) pour un 1 Ticket d’investissement.<br/>
			- Pour 10.000 unités de Jeux de société vendus = 2X € de prime (soit 50€) pour un 1 Ticket d’investissement.<br/>
			- Pour 20.000 unités de Jeux de société vendus = 3X € de prime (soit 75€) pour un 1 Ticket d’investissement.<br/>
			- Pour 30.000 unités de Jeux de société vendus = 4X € de prime (soit 100€) pour un 1 Ticket d’investissement.<br/>
			- Pour 50.000 unités de Jeux de société vendus = 6X € de prime (soit 175€) pour un 1 Ticket d’investissement.<br/>
			- Pour 100.000 unités de Jeux de société vendus = 8X € de prime (soit 200€) pour un 1 Ticket d’investissement.<br/>
			- Pour 250.000 unités de Jeux de société vendus = 12X € de prime (soit 300€) pour un 1 Ticket d’investissement.<br/>
			- Pour 500.000 unités de Jeux de société vendus = 20X € de prime (soit 500€) pour un 1 Ticket d’investissement.<br/>
			- Pour 1.000.000 unités de Jeux de société vendus = 40X € de prime (soit 1000€) pour un 1 Ticket d’investissement.<br/>
			- Pour 2.000.000 unités de Jeux de société vendus = 60X € de prime (soit 1500€) pour un 1 Ticket d’investissement.<br/>
		</p>
		<br/>
		<p>
			Le montant de la Contrepartie financière et le nombre de Tickets d’Investissement varient selon chaque projet de Jeu et figurent sur la Page Projet correspondante.<br/>

			Les Primes sont versées semestriellement sur les comptes Internet des Edinautes pendant la durée de vie des Tickets d’Investissement qui est de trois ans à compter de la date officielle de sortie du jeu dans le commerce. Au terme de ces 3 ans, le solde de la rémunération sera versé aux Edinautes. <br/>
			Les Primes ne seront versées qu’au franchissement de paliers. Elles sont versées pendant 3 ans à compter de la date officielle de sortie du jeu dans le commerce.<br/>
			Le processus de Prime se répète ainsi pendant la durée de vie des Tickets d’Investissement.<br/>

			En ce qui concerne les ventes réalisées hors de France, Witty Editions déduira les montants qui seraient retenus par les autorités de certains pays, pour permettre le transfert et/ou le paiement des sommes revenant à l’Edinaute. Ces informations figureront de la même manière sur chaque Page Projet.<br/>
			Le décompte des Primes présentes sur son Compte de Membre sera réputé approuvé et accepté définitivement par l’Edinaute, dans un délai de 3 (trois) mois à compter de leur mise à disposition, à moins qu’il ne les conteste par lettre recommandée avec accusé de réception adressée à WITTY EDITIONS, 14 rue Soleillet, Bureau 21, 75020 PARIS<br/>
		</p>
		<br/>
		<br/>

		<h2>4.3. Participations donnant lieu à une/des Contreparties matérielles</h2>
		<br/>
		<p>
			Accès aux Contreparties matérielles communes à tous les Edinautes :<br/>
		</p>
		<br/>
		<p class="tabulation">
			- Accès à l'Espace VIP pour tous les Edinautes dès la première participation. <br/>
			- Accès à la Newsletter Edinaute dédiée à chaque jeu<br/>
		</p>
		<br/>
		<p>
			Le montant et le détail des Contreparties matérielles résultant de chaque Participation des Edinautes est précisé sur la Page Projet de chaque jeu de Société et peut varier selon le jeu proposé.<br/>

			Les boîtes de jeu ou toute autre Contrepartie matérielle sont envoyées aux Edinautes par Witty Editions, qui s’engage à prendre en charge les frais de logistique. Cependant, les frais supplémentaires occasionnés par un envoi à l'étranger ou tous autres frais spécifiques sont à la charge des Edinautes et figurent dans la Page Projet de chaque jeu.<br/>

			L’Edinaute reconnaît et accepte expressément que dès lors que le Projet qu’il soutient est financé, il communiquera à Witty Editions les informations sur son identité ainsi que son adresse, afin notamment de permettre l’envoi des Contreparties promises.<br/>
			Pour certaines Contreparties matérielles, Witty Editions a besoin d’informations des Edinautes comme une taille de vêtement, une couleur, etc. afin de lui permettre de pouvoir livrer les récompenses. Ces informations sont demandées aux Edinautes lorsque le projet de financement du jeu est réalisable par l’atteinte de la Jauge, qui s'engagent à les fournir à Witty Editions ou, à défaut, ne pas recevoir leur contrepartie.<br/>
			Witty Editions s’engage à mettre tout en œuvre afin de faire parvenir les Contreparties matérielles aux Edinautes. En cas d’impossibilité de fabrication ou pour tout autre motif du fait de Witty Editions ou l’un de ses sous-traitants, empêchant la livraison de la récompense, Witty Edition procédera au remboursement de celle-ci en créditant le compte Internet de l’Edinaute ou en effectuant un virement sur son compte bancaire courant dans les conditions de l’article 5 des présentes.<br/>

			Witty Editions n’est en aucun cas responsable de tout dommage ou perte encourue liés aux Contreparties matérielles ou tout autre service du Site.		</p>
		<br/>
		<br/>
		
		<h1>Article 5.  Moyens et modes de paiement</h1>
		<br/>
		<p>
			L’Edinaute peut payer le montant de sa Participation par carte bancaire ou tout autre moyen indiqué sur le Site (notamment par paypal), étant précisé que la transaction est sécurisée. Le paiement de la totalité du montant investi est effectif lorsque l’Edinaute choisit sa Contrepartie et règle sa Participation. L’argent est alors déposé sur un Compte de Tiers en attendant que la Jauge atteigne le minimum requis. L’Edinaute s’engage à ce titre à disposer des fonds suffisants à la date des prélèvements, et à fournir toutes les informations bancaires nécessaires au paiement au moment où il décide de financer un Jeu de société.<br/>
			En cas de non-paiement par l’Edinaute des sommes dues dans les délais, Witty Editions sera en droit d’appliquer des intérêts de retard au taux d’intérêt légal minimum prévu par la loi.<br/>
			Le numéro de la carte bancaire de l’Edinaute n’est pas conservé par Witty Editions qui dispose d’un outil de paiement en ligne stable et sécurisé. Il est de plus crypté, ainsi qu’il est précisé ci-dessous. <br/>
			Witty Editions a opté pour la technologie de cryptage SSL (Secure Sockets Layer) qui crypte l’information afin de protéger toutes les données liées aux informations personnelles et aux moyens de paiement. Tout Edinaute doit accepter les conditions d'utilisation de ce système de paiement, dans le cadre de cette activité. Les frais bancaires résultants de ces transactions restant à leur a charge.<br/>

			La Participation de l’Edinaute est versée par Witty Editions sur un compte (ci-après dénommé le " Compte de Tiers ") bancaire et dissocié de son compte courant habituel. <br/>
			Les sommes figurant sur le Compte de Tiers ne sont pas la propriété de Witty Editions mais des Edinautes. Ce Compte de Tiers est indépendant et ne peut être fusionné ou compensé avec les comptes bancaires usuels de Witty Editions ou d’un autre Edinaute. <br/>
			Compte tenu des coûts qu’engendreraient le calcul des éventuels intérêts dus à chacun et leur redistribution ainsi que le caractère minime des montants concernés, l’Edinaute accepte que les éventuels intérêts pouvant rémunérer le Compte de Tiers soient automatiquement versés à Witty Editions.<br/>

			Si le Jeu de société n’est pas édité ou si l’Edinaute décide de clôturer son compte de Membre, il récupère le montant de sa souscription sur le solde de son compte Internet. <br/>
			Le remboursement de la Participation sera effectué après envoi d’un e-mail à l’adresse suivante : contact@mywittygames.com. <br/>
			L’Edinaute ne pourra demander le remboursement de sa Participation que sur un compte bancaire dont il est le titulaire. Pour ce faire, il devra communiquer à Witty Editions la totalité des informations exigées par la procédure prévue à cet effet sur son Compte de Membre. <br/>
			Witty Editions procèdera ou fera alors procéder au virement dans les 30 (trente) jours suivants la demande effective de remboursement sur le Site. <br/>
			Les éventuels frais bancaires liés aux transferts de leurs avoirs financiers sur leur compte Internet en direction de leur compte bancaire d’origine sont à la charge de l’Edinaute. Il est informé et accepte sans réserve qu’en aucun cas ces frais ne pourront faire l’objet d’un remboursement.<br/>

			L’Edinaute est responsable de s’acquitter de toute taxe applicable ou impôts associés, sur les sommes apportées en tant que soutien d'un projet.<br/>

			Sauf preuve contraire, les données enregistrées par Witty Editions constituent la preuve de l’ensemble des transactions passées entre Witty Editions et l’Edinaute. L’historique des transactions entre Witty Editions et l’Edinaute est consultable à tout moment par ce dernier au travers de son Compte de Membre sur le Site. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 6. Droit de préemption</h1>
		<br/>
		<p>
			Dans le cas où le Créateur d’un Projet de jeu décide de mettre une création dans la Pépinière, est accordé à Witty Editions un droit de préemption applicable dans les conditions suivantes. <br/>

			Tout projet de transfert de son Prototype de jeu par le Créateur à un autre éditeur, devra être notifié à Witty Editions. La notification devra être faite 45 jours au moins avant la réalisation de l'opération projetée et devra mentionner :<br/>
		</p>
		<br/>
		<p class="tabulation">
			-	le descriptif du Prototype,<br/>
			-	les raisons pour lesquelles il souhaite transférer le projet de jeu à un autre éditeur.<br/>
		</p>
		<br/>
		<p>
			Le délai de réalisation de la préemption est de 60 jours, à compter de la notification.<br/>
			Si Witty Editions notifie son intention de préempter, le droit de préemption ne pourra être effectivement exercé que si la demande de préemption notifiée par lui porte sur la totalité du Prototype dont la transmission est projetée.<br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 7 : Responsabilité et Droits des Parties</h1>
		<br/>
		<p>
			Compte tenu du mandat de gestion octroyé par l’Edinaute, Witty Editions est seule titulaire du droit de prendre l’initiative sur l’utilisation du budget, tout en respectant les grandes lignes de l’objectif déclaré lors de la période de collecte de fonds auprès de l’Edinaute. <br/>
			Le pouvoir de décision final des choix revient exclusivement à Witty Editions en tant qu’éditeur, l’avis des Edinautes étant purement consultatif. <br/>
			Witty Editions se réserve le droit de refuser, d’annuler, d’interrompre ou de suspendre un projet de financement à tout moment et pour tout motif, sans être responsable des dommages résultant de l’une de ces actions.<br/>

			Witty Editions souscrit une obligation de moyen (éditer et commercialiser) mais non de résultat et ne pourra être tenu responsable de la durée nécessaire pour la sortie du Jeu de société, ni de son possible insuccès commercial. <br/>

			L’Edinaute est également averti et accepte expressément que Witty Editions soit susceptible, de supprimer un Projet de Jeu de société, dans le cadre des conditions prévues à cet effet sur le Site (suppression sur la page du jeu et envoi d’un e-mail). Sa/ses Participations sera (seront) alors annulée(s) et la valeur faciale lui sera remboursée.<br/>

			A travers l’utilisation du Service, les Membres peuvent être amenés à diffuser sur le Site différents contenus et notamment des vidéos, des images, des créations graphiques, des textes, des idées et concepts, des logiciels, etc. ainsi que des marques ou brevets et éléments divers de propriété intellectuelle. Les Membres sont avertis que l’utilisation du Site ne protège en rien ces contenus et qu’il leur appartient, le cas échéant, de protéger ces contenus. <br/>

			De même, le Créateur, porteur du Projet, s’engage par les présentes à s’assurer qu’il possède tous les droits nécessaires dans le cadre de la publication de son projet (droits sur la création et le contenu du projet). A ce titre, il engage sa responsabilité afin de s’assurer ne pas induire en erreur les Edinautes.<br/>

			Le Créateur concède par ailleurs à Witty Editions, à titre exclusif et gracieux, pour le monde entier et pour toute la durée des présentes, les droits tels que précisés dans un contrat de cession de droits signés entre les parties, afin de permettre à Witty Editions de fournir le Service sous forme de diffusion sur internet, sur réseaux de téléphonie mobile et/ou tout autre réseau actuel ou futur de communication ouvert au public.<br/>
			Le Créateur autorise en outre expressément Witty Editions à assurer la promotion et/ou la publicité du Projet, et à diffuser avec les contenus des messages publicitaires, commerciaux et/ou promotionnels relatifs à des produits ou services de tiers.<br/>

			Le Créateur s’engage à ne proposer son Projet ou tout projet lié sur aucune autre plateforme participative pendant la durée de la période de collecte.<br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 8 : Durée</h1>
		<br/>
		<p>
			Les présentes Conditions Particulières s’appliquent au Membre aussi longtemps qu’il conserve son compte sur le Site http://www.mywittygames.com. <br/>
			Le Site est par principe accessible 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. Etant de fait soumis à une obligation de moyens, Witty Editions ne saurait être tenue responsable de tout dommage, quelle qu'en soit la nature, résultant d'une indisponibilité du Site.<br/>

			Si l’Edinaute possède des Participations dans un projet en cours, il peut mettre fin à sa relation avec Witty Editions en le lui notifiant par e-mail s’il clôture son compte de Membre. Il perdra dès lors les droits liés à ses Participations, qui deviendront la propriété de Witty Editions. <br/>
			Witty Editions peut à tout moment et sans préavis mettre fin aux présentes et bloquer le compte de l’Edinaute si ce dernier ne respecte pas l’une des dispositions des Conditions Particulières ou des Conditions Générales d’Utilisation. Dans ce cas, Witty Editions procèdera au remboursement de ses Participations libres et du solde de son crédit sur son compte. Tout autre droit sera déchu et ses autres Participations deviendront la propriété de Witty Editions. <br/>

			L’Edinaute accepte et reconnait expressément qu’à défaut pour lui et/ou ses héritiers et/ou ses ayants droit de demander paiement par virement bancaire ou d'utiliser sur le Site les sommes de son Crédit, dans un délai de 3 (trois) ans à compter de la date de dernière mise à disposition à son Crédit desdites sommes, nonobstant l’envoi par Witty Editions, trois mois avant l’expiration du délai de trois ans, d’un email sur son Compte lui rappelant les termes de la présente clause ainsi que le délai restant à courir avant l’expiration de la période de trois ans, l’Edinaute sera considéré avoir irrévocablement et volontairement renoncé à ces sommes, qui seront définitivement acquises à Witty Editions notamment pour couvrir les frais de gestion (administratifs, financiers, etc.) engendrés par le compte resté inactif durant trois années, et à tout recours ou voie de droit en vue d’en réclamer le remboursement.<br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 9 : Nullité de clause</h1>
		<br/>
		<p>
			Si certaines dispositions des présentes Conditions Particulières s’avéraient privées d’effet, cette circonstance n’affectera en rien la validité des autres dispositions, ni celle des Conditions Générales d’Utilisation dans leur ensemble. Witty Editions les remplacera par des dispositions juridiquement valables et conformes à l’esprit et l’objet des présentes. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 10: Modification des Conditions Particulières</h1>
		<br/>
		<p>
			Witty Editions se garde la possibilité de modifier à tout moment les présentes Conditions Particulières en fonction notamment de l’évolution des conditions d’exploitation du Site et de l’amélioration des services proposés. Ces modifications seront notifiées à chaque Membre par tout moyen, généralement par information sur le Site ou sur la messagerie interne de Witty Editions. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 11 : Droit applicable - Langue</h1>
		<br/>
		<p>
			De convention expresse entre les parties, les présentes Conditions Particulières sont régies et soumises au droit français. Elles sont rédigées en langue française. Dans le cas où il serait traduit en une ou plusieurs langues, seul le texte français ferait foi en cas de litige. <br/>
		</p>
		<br/>
		<br/>
		
		<h1>Article 12 : Litiges</h1>
		<br/>
		<p>
			Tous les litiges auxquels les présentes Conditions Particulières pourrait donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résiliation, leurs conséquences et leurs suites seront soumis aux tribunaux de Paris compétents.<br/>
		</p>
		<br/>

</div>
   
   
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittymwg/js/faq.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
