{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - FAQ{% endblock %}

{% block content %}
  
   <div class="blocTitrePage">
    	<p class="titrePage titrePage_faq">FAQ</p>
    </div>
    
    <div id="container">
    
    	<div id="blocContenuFaq">
    		
    		<div class="faq_infos">
    			<div class="partie1">
    				<p class="texte_infos">Un problème ? Une question ?</p>
    				<p class="texte_infos2">Nous sommes là pour vous. Profitez-en !</p>
    			</div>
    			<div class="partie2">
    				<p class="texte_infos">01 43 43 41 68</p>
    				<p class="texte_infos2">Coût d'un appel local</p>
    			</div>
    			<div class="partie3">
    				<p class="texte_infos">contact@mywittygames.com</p>
    				<p class="texte_infos2">Coût d'un mail local</p>
    			</div>
				<div class="spacer"></div>
    		</div>
    	
		
			<div class="faq_p">
				<a class="faq_title_1" href="#" style="color: rgb(66, 112, 190);">1. Questions techniques</a>
				<div class="faq_2" style="display: block;">
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.1 Qu’est-ce que Mywittygames.com ?</a>
						<div class="faq_3"> Mywittygames.com est la première plateforme d’édition communautaire de jeux de société. En vous inscrivant, vous pouvez investir dans les jeux que vous aimez et participer à leur édition. L’édition communautaire est un phénomène en plein essor sur de multiples secteurs (Musique, Cinéma, Livres, BD…) et aujourd’hui cette nouvelle tendance arrive dans l’univers des jeux de société grâce à Mywittygames.com ! 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.2 Pourquoi m’inscrire ?</a>
						<div class="faq_3"> Mywittygames.com est une plateforme innovante où vous pourrez participer à l’édition de jeux nouveaux et être intéressé à leurs futurs gains financiers. En vous inscrivant, vous pouvez créer votre profil personnel, noter les jeux et acheter des parts et obtenir des tickets d’investissement (uniquement pour les personnes majeures) 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.3 Comment m'inscrire ?</a>
						<div class="faq_3"> 
							Il vous suffit de créer un compte en cliquant sur le bouton « S'inscrire » présent en haut des pages du site, et de remplir le formulaire. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.4 Y-a-t-il des conditions d’âge et de nationalité pour s’inscrire ? Et pour investir sur les jeux ?</a>
						<div class="faq_3"> Le Site est ouvert à tous. Il n’y a pas de conditions d’âge ou de nationalité. En revanche, l’achat de part est réservé aux seules personnes majeures. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.5 Puis-je m’inscrire sans investir sur un jeu ?</a>
						<div class="faq_3"> Oui ! Le site est ouvert à tous. Votre page personnelle vous permet avant tout de communiquer avec les autres membres. Il n’y a aucune obligation d’acheter des parts. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.6 J’ai perdu mon mot de passe, comment le retrouver ?</a>
						<div class="faq_3"> Oui ! Il vous suffit de cliquer sur le lien « Mot de passe oublié » pour recevoir un mail qui va vous permettre de régénérer un mot de passe. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.7 Mes données personnelles sont-elles confidentielles ?</a>
						<div class="faq_3"> Oui ! Nous ne communiquerons pas vos coordonnées à d’autres partenaires (sauf avec votre accord explicite).
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">1.9 Comment me faire rembourser mon crédit ?</a>
						<div class="faq_3"> Vous devez envoyer votre RIB ou votre IBAN par email à l'adresse contact@mywittygames.com avec l'intitulé : "Demande de Remboursement de mon Crédit". Veuillez préciser le montant exact que vous souhaitez vous faire rembourser dans le corps de votre email. Vous serez remboursé dans les 30 jours calendaires suivants votre demande. Attention, toutefois, à conserver un crédit suffisant pour vos prochains soutiens, ce qui vous évitera de payer des frais Paypal. 
						</div>
					</div>
				</div>	
			</div>

			<div class="faq_p">
				<a class="faq_title_1" href="#" style="color: rgb(66, 112, 190);">2. Gérez votre espace personnel</a>
				<div class="faq_2" style="display: block;">
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">2.1. Qu’y-a-t-il dans mon espace personnel ? </a>
						<div class="faq_3"> Vous retrouverez l’ensemble de vos informations personnelles, votre description, votre photo, vos investissements. Bref c’est l’endroit où vous retrouver toutes les informations vous concernant.  
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">2.2. Puis-je modifier mon pseudonyme ? Mon mot de passe ? </a>
						<div class="faq_3"> Oui, vous pouvez modifier votre pseudonyme et votre mot de passe. Attention toutefois à ne pas les perdre ou les confondre. En cas de problème, vous pouvez nous contacter à l’adresse suivant : contact@mywittygames.com. En cas de litige, nous vous demanderons une pièce d’identité pour vérifier que vous êtes bien le propriétaire du compte et du solde disponible.  
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">2.3 Pourquoi m’inscrire aux newsletters ? </a>
						<div class="faq_3"> Les newsletters sont l’élément essentiel pour être au courant des dernières nouveautés sur Mywittygames.com. Pour bien jouer votre rôle d’édinaute, il est important pour vous d’obtenir ces informations en avant-première et ainsi être en mesure de relayer le message autour de vous.
						</div>
					</div>
				</div>
			</div>
			
			<div class="faq_p">
				<a class="faq_title_1" href="#" style="color: rgb(66, 112, 190);">3. Participez à l’édition de nouveaux jeux de société</a>
				<div class="faq_2" style="display: block;">
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.1 Comment bien comprendre les règles des jeux que je souhaite soutenir ?</a>
						<div class="faq_3">L’ensemble des règles de chaque jeu est disponible sur la fiche du jeu en ligne. Il vous suffit de cliquer dessus pour accéder à l’ensemble des mécaniques qui animent le jeu. Tous les points de règles y sont abordés en détails. Un fichier « Prototype à construire » sera également mis à disposition des membres qui souhaitent tester le jeu grandeur nature. En vous munissant de papier et d’un ciseau vous aurez en quelques minutes tout le matériel nécessaire pour organiser votre premier test grandeur nature. N’hésitez pas à le faire découvrir à vos amis !
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.2 Comment être sûr qu’il s’agit d’un bon jeu ?</a>
						<div class="faq_3">L’univers des jeux de société n’a rien d’inaccessible ! Tout le monde a déjà joué à de très multiples jeux durant sa vie. Il suffit tout simplement de construire le prototype du jeu, d’inviter quelques amis et en quelques minutes vous pourrez juger du plaisir que prennent ou non vos convives à découvrir ce nouveau jeu. Un indice très important à repérer : ont-ils rigolé durant le test et se sont-ils amusés ? Voilà bien les éléments phares qui font d’un jeu un bon jeu !
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.3 Comment obtenir plus d’informations sur l’histoire du jeu et le parcours de son auteur ?</a>
						<div class="faq_3">Vous pouvez retrouver l’ensemble des informations concernant l’auteur du jeu en cliquant sur la fiche personnelle de l’auteur. Vous pourrez retrouver sa ludographie complète ainsi que ses succès précédents. Nous publierons également un maximum d’informations sur la construction du jeu en lui-même afin que vous puissiez comprendre d’où est venue l’idée de sa création.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.4 Quel montant dois-je donner pour soutenir le jeu ?</a>
						<div class="faq_3">Cela dépendra des contreparties que vous choisirez ! Les différents soutiens et leurs montants sont indiqués sur la page du jeu. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.5 A quoi servira mon soutien ? </a>
						<div class="faq_3">Votre investissement servira à la fabrication des boîtes de jeux, et donc à rendre le projet réel.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.6 Puis-je annuler mon investissement à tout moment ?</a>
						<div class="faq_3">Oui ! Il vous suffit pour cela de cliquer sur le bouton approprié présent dans la partie « Mon compte ». Votre compte en ligne sera alors re-crédité du montant du soutien que vous avez apporté au projet. Cette procédure est toutefois possible uniquement tant que le délai défini pour financer le projet n'est pas arrivé à son terme. Une fois ce délai écoulé, et si le montant minimum requis a été atteint, votre soutien est définitif puisque l’ensemble des montants investis sur le jeu vont servir à couvrir les frais de Production. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.7 Puis-je changer d’avis et soutenir un autre jeu ?</a>
						<div class="faq_3">Oui ! Vous avez entière liberté de changer d’avis tant que le délai défini pour soutenir le projet n'est pas terminé ! Il vous suffit de choisir une contrepartie d'un autre projet, et le transfert sera effectif. Si votre premier soutien était plus important que le second, la différence entre les montants des 2 soutiens sera créditée sur votre compte. Dans le cas contraire, vous devrez payer la différence entre les montants des 2 soutiens.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.8 Comment le montant récolté par le projet augmente-t-il ?</a>
						<div class="faq_3">Pour chaque nouveau soutien apporté par un édinaute, le montant récolté par le projet augmente du montant du soutien apporté par cet édinaute.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.9 Pourquoi un montant minimum à atteindre ? </a>
						<div class="faq_3">Chaque projet nécessite un budget de fabrication. Ce budget est défini en amont sur la base de devis de prestataires.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.10 Comment est utilisé l’argent récolté via la jauge ?</a>
						<div class="faq_3">Il faut tout d’abord savoir que chaque soutien est soumis à TVA. Le montant d’investissement véritablement disponible pour la fabrication du jeu est le montant total récolté par le projet, auquel est soustrait la TVA, égale à 19,6%. La part restante est ensuite utilisée pour la fabrication de boîtes de jeux.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.11 Qu’est-ce qu’une « contrepartie » ? </a>
						<div class="faq_3">Une contrepartie correspond à l'ensemble des avantages que vous obtiendrez en remerciement pour votre soutien au projet.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.12 A quoi me donne droit ma contrepartie ?</a>
						<div class="faq_3">Une contrepartie donne droit à l'ensemble des services et privilèges défini pour cette contrepartie sur la page du projet que vous avez soutenu.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.13 Combien de soutiens puis-je apporter à chaque projet de jeu ?</a>
						<div class="faq_3">Vous ne pouvez soutenir chaque projet qu'une seule fois. Vous pouvez toutefois changer le montant de votre soutien et la contrepartie que vous désirez tant que le projet n'est pas arrivé à son terme.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.14 Puis-je soutenir plusieurs jeux à la fois ?</a>
						<div class="faq_3">Oui ! Vous pouvez soutenir autant de jeux que vous le souhaitez.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.15 Puis soutenir un jeu qui a atteint le montant minimal requis ?</a>
						<div class="faq_3">Bien sûr! Les financements supplémentaires serviront à produire plus de boîtes, plus d'illustrations et de matériels, etc ...
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.16 Que se passe-t-il si le montant minimal requis n'est pas atteint au terme du délai de financement ?</a>
						<div class="faq_3">Les édinautes retrouvent sur leur compte en ligne le montant exact de leurs soutiens. S'ils ne souhaitent pas participer à d'autres projets, il peuvent demander à être remboursés sur leur compte bancaire. L’édition du jeu sous la forme participative n’aura pas lieu.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.17 Comment fonctionne le système de crédit de mon compte en ligne ?</a>
						<div class="faq_3">Votre argent est conservé sur un compte à part du compte usuel de la Société. Vous pouvez l’utiliser à tout moment pour d’autres investissements. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.18 L’argent que j’investis sur un jeu est-il protégé ?</a>
						<div class="faq_3">Oui ! L’argent est stocké sur un compte bancaire dissocié de celui de la Société. Il n’est donc pas utilisé pour les dépenses courantes de cette dernière.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.19 Mes paiements sont-ils sécurisés ?</a>
						<div class="faq_3">Oui ! Les paiements utilisent le système de paiement en ligne Paypal totalement sécurisé. C’est le même système utilisé par de grands sites marchands du Web.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.20 Pourquoi y’a-t-il des frais de gestion en supplément de mon investissement ?</a>
						<div class="faq_3">L’ensemble du processus financement génère des frais bancaires. Il nous faut donc prévoir à l’avance un moyen de financer correctement ces frais de gestion. Une partie est donc à la charge des édinautes afin de pouvoir vous offrir la meilleure des qualités de services. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">3.21 Il y a eu un problème lors de mon achat de part ou toute autre opération sur le site. Qui dois-je contacter ?</a>
						<div class="faq_3">Vous pouvez nous contacter en nous envoyant un email à contact@mywittygames.com. Nous traiterons votre demande dans les plus brefs délais.
						</div>
					</div>
				</div>
			</div>		

			
			<div class="faq_p">
				<a class="faq_title_1" href="#" style="color: rgb(66, 112, 190);">4. Devenir édinaute</a>
				<div class="faq_2" style="display: block;">
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">4.1 Qu'est-ce qu'un édinaute ?</a>
						<div class="faq_3">Un édinaute est une personne qui a apporté son soutien à un projet de jeu.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">4.2 Comment devenir édinaute ?</a>
						<div class="faq_3">Il vous suffit de soutenir un jeu, en offrant un montant pour un projet en échange de contreparties.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">4.3 Quel est mon rôle en tant qu'édinaute ?</a>
						<div class="faq_3">L'édinaute est partie prenante du projet et peut donc être consulté pour donner son avis sur des illustrations, des mécaniques de jeu, ou tout autre choix éditorial que le créateur jugera pertinent. Il peut aussi participer à la promotion du jeu afin de transformer le projet qu'il a soutenu en succès d'édition.
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">4.4 Puis-je démarcher de moi-même les médias de ma région pour faire parler de Mywittygames dans les journaux de mon département ou les radios locales ? </a>
						<div class="faq_3">Oui ! Et c’est même une forte recommandation de notre part ! Car pour stimuler le buzz, il faut faire parler du projet auprès du maximum de personnes possible ! Vous pourrez télécharger sur le Site des communiqués de presse officiels à envoyer aux journaux et radios locales. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">4.5 Comment transmettre mes idées d’amélioration à Mywittygames ?</a>
						<div class="faq_3">Vous pouvez tout simplement nous envoyer vos propositions par email à contact@mywittygames.com. C’est aussi simple que cela !
						</div>
					</div>
				</div>
			</div>		
			
			<div class="faq_p">
				<a class="faq_title_1" href="#" style="color: rgb(66, 112, 190);">5. Faîtes connaître votre idée de jeu et faîtes la financer sur Mywittygames</a>
				<div class="faq_2" style="display: block;">
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">5.1 Puis-je diffuser mon idée de jeu à Mywittygames ?</a>
						<div class="faq_3">Oui ! Vous pouvez nous contacter au 01 43 43 41 68 ou nous envoyer un email à l'adresse contact@mywittygames.com. Nous déciderons alors de le tester officiellement et de l’inclure dans notre processus de sélection éditoriale. Cette phase dure entre deux et quatre semaines en moyenne. Si votre jeu nous convainc, nous vous ferons signer un véritable contrat d’édition et nous vous ouvrirons une page projet officielle. 
						</div>
					</div>
					<div class="faq_2_p">
						<a class="faq_title_2" href="#">5.2 Qu'adviendra-t-il de mon jeu une fois financé ?</a>
						<div class="faq_3">La phase de commercialisation pourra alors débuter. Les jeux Witty Editions sont présents dans plus de 200 boutiques spécialisés, ainsi que dans des enseignes prestigieuses telles que Joué Club, La Grande Récré, Virgin, FNAC, Amazon, Picwic, Le Furet du Nord. Une fois financé, ce n'est donc que le début de la vie du jeu !
						</div>
					</div>
				</div>
			</div>

    	</div>
    
    </div>
   
   
{% endblock %}

{% block javascripts %}
    {% javascripts 'bundles/wittymwg/js/faq.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
