{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - L'édition participative{% endblock %}

{% block content %}
  
   <div class="blocTitreHome">
    	<p class="titrePage titrePage_home">Donner vie aux jeux</p>
        <p class="descriptionPage descriptionPage_home">Participez au financement de jeux de société et recevez des récompenses exclusives.<br/>Si un projet n'atteint pas son objectif, vous êtes remboursé sans frais.</p>
        <p class="infosPage_home">Actuellement 6 jeux ont été édité grâce aux édinautes. Rejoignez-les !</p>
        <img class="btn_sinscrireNow"/>
    </div>
    
	<form action="http://localhost/mywittygames/web/app_dev.php/transaction/success" method="post" target="_blank">
		<input type="submit" name="submit">
	</form>
	
	<div id="container">
		{% render "WittyProjectBundle:Project:projectsList" with {'mode_affichage': mode_affichage} %}
	</div>
   
   
{% endblock %}
