{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - Presse{% endblock %}

{% block content %}
  
   <div class="blocTitrePage">
    	<p class="titrePage titrePage_faq">Presse</p>
		<p class="descriptionPage descriptionPage_projet">Quand les médias prennent la parole</p>
    </div>
    
    <div id="container">
	
		<div id="blocContenuPresse">
			<div class="item">
				<div class="texte">
				My Witty Games, c&rsquo;est avant tout un esprit communautaire et une ouverture sur l&rsquo;extérieur.
Que deviendrait notre projet sans nos médias ?<br/>
Ils ont aimé, critiqué, questionné... Ils sont les mieux placés pour parler de notre projet et le
faire évoluer.<br/>
N&rsquo;hésitez pas vous aussi à prendre la parole afin de nous aider à avancer !
				</div><br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/ParlentdenousV2.jpg" style="width:100%"/>				
				<br/><br/><br/><br/>
				<div class="soustitre">Tout d&rsquo;abord, un petit passage par nos dossiers de presse</div>
				<br/>
				<div class="texte">
				Les communiqués concernant la plateforme MyWittyGames :<br/><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+MyWittyGames+23092010.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse - Witty Editions 23 Septembre 2010 (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+Mywittygames+22102010.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse - Witty Editions 22 Septembre 2010 (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+MyWittyGames+06042011.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse - Witty Editions 06 Avril 2011 (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+MyWittyGames+05052011.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse - Witty Editions 05 Mai 2010 (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+MyWittyGames+19102011.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse - Witty Editions 19 Octobre 2010 (PDF)</a>
				<br/><br/>
				Les communiqués et fiches produit des jeux édités par MyWittyGames :<br/><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/distribution/fiches_produits/Fiche+Produit+Witty+Pong+2012.pdf" style="color:#333; margin-left:30px;";>Fiche Produit Witty Pong (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/distribution/fiches_produits/Fiche+Produit+Witty+Zibi+2012.pdf" style="color:#333; margin-left:30px;";>Fiche Produit Witty Zibi (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/distribution/fiches_produits/Fiche+Produit+Witty+Chronos+2012.pdf" style="color:#333; margin-left:30px;";>Fiche Produit Witty Chronos (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/distribution/fiches_produits/Fiche+Produit+Ice3+2012+.pdf" style="color:#333; margin-left:30px;";>Fiche Produit Ice3 (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/distribution/fiches_produits/Fiche+Produit+Witty+Chronos+Temple+2012.pdf" style="color:#333; margin-left:30px;";>Fiche Produit Temple, extension de Chronos (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+Empathy.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse Empathy (PDF)</a><br/>
				<a target="_blank" class="lien_press" href="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/communiques/CP+Speed+dating+et+Empathy.pdf" style="color:#333; margin-left:30px;";>Communiqué de Presse Speed Dating et Empathy (PDF)</a>

				<br/><br/>
				</div>
				<div class="soustitre">Espace Photos : MyWittyGames va à la rencontre de nos pipoles !</div>
				<div class="texte">
				Les VIP aussi aiment Witty !
				</div>
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/people/misc/pipole.png" style="width:100%"/>				
				<br/><br/><br/>
				<div class="soustitre">Au tour des médias papiers et web, maintenant, de se pencher sur nos
aventures</div>
				<br/><br/>
				
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/le_monde.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Ce système de financement, qui se prête bien aux communautés actives,
existe également pour les jeux de plateau. MyWittyGames est une maison
d&rsquo;édition collaborative lancée à la fin de 2010... »;
<br/><a target="_blank" href="http://www.lemonde.fr/week-end/article/2011/07/08/les-jeux-dont-vous-etes-le-producteur_1546210_1477893.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/ludimag.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Vous avez probablement tous entendu parler de Grégoire, le chanteur du
tube Toi + moi, qui a été produit par My Major Company et avez découvert par
la même occasion le principe d'édition communautaire. Et bien, sachez qu'une
société française, MyWitty Games, a décidé de se lancer dans l'aventure de
l'édition communautaire pour le jeu de société... »;
<br/><a target="_blank" href="http://www.ludimag.com/mywittygames-le-my-major-company-du-jeu/" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>

				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/20minutes.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Musique, presse, équitation, littérature... Les internautes ont l'embarras du
choix pour financer des projets estampillés participatifs... »;
<br/><a target="_blank" href="http://www.20minutes.fr/article/612857/culture-le-crowdfunding-decline-toutes-sauces" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/75020.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Le financement participatif n'a pas fini de surprendre. Après la musique, l'art et tant d'autres domaines, voici quapos;un site propose aux internautes d'aider des jeux de société à sortir dans le commerce en suivant ce modèle économique... »;
<br/><a target="_blank" href="http://le75020.fr/paris-XXe-75020-20e-arrondissement/vie-locale/economie/28347-witty-games-jeu-societe-pepiniere-soleillet.paris-75020-info" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/cadeau-maestro.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Un concept très sympa est en train de naître sur le Web : les labels communautaires. Peut-être avez-vous déjà entendu parler de MyMajorCompany, ce site qui permet à tout un chacun d'investir dans un artiste musical inconnu qui, s' il réunit suffisament d'argent, signera un contrat avec une maison de disques , produira des albums... ? Le même principe existe pour les jeux de société, avec MyWittyGames. »;
<br/><a target="_blank" href="http://www.cadeau-maestro.com/blog/devenez-producteur-de-jeux-de-societe-avec-my-witty-games" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/france-televisions.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Une petite vidéo sur france télévisions... »;
<br/><a target="_blank" href="http://www.francetv.fr/web10ftv/?page=video&type=ilike&id=k1CIFOmRWvY" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/bertholet.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Clairement une bonne idée, ça fait plaisir de voir de vrais jeux alors qu'on passe de plus en plus de temps devant un écran, les yeux rivés à quelques pixels colorés...  »;
<br/><a target="_blank" href="http://guilhembertholet.com/startups/2011/01/mywittygames/" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jedijeux.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« La plateforme MyWittyGames.com vient de lancer sa première webradio ludique. Chaque semaine, à l'antenne un invit&é est reçu, le plus souvent une personnalité du monde ludique. L'objectif étant de faire découvrir aux néophytes les grands noms du milieu... »
<br/><a target="_blank" href="http://www.mywittygames.com/web_content/img/logo_press/jedijeux.png" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jeunes.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« L'univers des jeux de société, en plein essor depuis une dizaine d'années, est paradoxalement le domaine le plus partagé et le moins médiatisé des loisirs cintemporains. C'est donc sans surprise qu'il se dote enfin de sa propre plateforme d'édition communautaire sous les traits de MyWittyGames... »
				<br/><a target="_blank" href="http://www.lesjeunesnesontpascons.com/?p=591" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/krinein.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;"><br/><br/>
« Un éditeur pas comme les autres... »
				<br/><a target="_blank" href="http://www.krinein.com/jeux-societe/decouvrons-mywittygamescom-15690.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/RTL2.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Les fans peuvent également devenir co-éditeurs de jeux grâce à MyWittyGames... » 
				<br/><a target="_blank" href="http://legrandmorning.rtl2.fr/2010/11/le-crowdfunding-se-d%C3%A9cline-%C3%A0-toutes-les-sauces.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/techcrunch.jpeg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« MyWittyGames a donc le terrain parfait pour se faire une place dans l'écosystème... »
				<br/><a target="_blank" href="http://www.mywittygames.com/web_content/img/logo_press/techcrunch.jpeg" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Chronos : financé en un temps record !</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/stories.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Trop tard ! Il est maintenant trop tard pour investir
dans le jeu Witty Chronos... En effet, toutes les parts ont
été vendues en un temps record. En attendant la sortie
du jeu, il est toujours possible de le tester grâce à sa
version en ligne... »
				<br/><a target="_blank" href="http://gamestories.fr/actu-86-Witty-Chronos-version-en-ligne.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Chronos : </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://jdr-mag.over-blog.com/article-witty-chronos-petit-test-avant-sa-sortie-73450196.html" class="lien_press">jdr-mag.over-blog.com</a><br/>
					<a target="_blank" href="http://www.ludimag.com/witty-chronos-3e-witty-edite/" class="lien_press">www.ludimag.com</a><br/>
					<a target="_blank" href="http://www.chamboultou.fr/witty-chronos-3e-witty-edite,3669.html" class="lien_press">www.chamboultou.fr</a><br/>
					<a target="_blank" href="http://www.scifi-universe.com/actualites/10750-un-nouveau-jeu-chez-mywittygames-com.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://www.jedisjeux.net/witty-chronos-vu-de-pres-n-2309.html" class="lien_press">www.jedisjeux.net</a>
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Pong : L'aventure commence !</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/maxisciences.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Qui a dit que le jeu de société était mort. Pas internet en tout cas, puisque la société Witty Editions SAS a crée la plateforme MyWittyGames.com et propose aux internautes d'investir et de participer à l'édition d'un jeu de société... » 
				<br/><a target="_blank" href="http://www.maxisciences.com/jeu/witty-pong-le-premier-jeu-de-societe-finance-par-les-internautes_mrm62064.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Pong :  </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://boardgame.fr/page-interview-ab.html" class="lien_press">boardgame.fr</a><br/>	
					<a target="_blank" href="http://www.hellocoton.fr/witty-pong-le-premier-jeu-de-societe-cree-par-une-communaute-2301301" class="lien_press">www.hellocoton.fr</a><br/>	
					<a target="_blank" href="http://www.infosjeunes.com/Witty-Pong-Le-premier-jeu-de-societe-edite-par-une-communaute_a385070.html" class="lien_press">www.infosjeunes.com</a><br/>	
					<a target="_blank" href="http://www.news-de-stars.com/cote-femmes/witty-pong-le-premier-jeu-de-societe-cree-par-une-communaute_mrm212929.html" class="lien_press">www.news-de-stars.com</a><br/>	
					<a target="_blank" href="http://oh-ladies.com/2011/03/witty-pong-le-premier-jeu-de-societe-cree-par-une-communaute/?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed:+Oh-ladiescom+%28oh-ladies.com%29" class="lien_press">oh-ladies.com</a><br/>	
					<a target="_blank" href="http://www.lemondenumerique.com/article-27057-witty-pong-le-premier-jeu-de-societe-finance-par-les-internautes.html" class="lien_press">www.lemondenumerique.com</a><br/>	
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/plus-que-quelques-heures-pour-investir-dans-le-pong%7E31%7E11%7Ei765%7Em20.html" class="lien_press">www.jeuxsurunplateau.com</a><br/>	
					<a target="_blank" href="http://www.etoiledujeu.fr/article-54-notre-interview-exclusive-de-bruno-cathala" class="lien_press">www.etoiledujeu.fr</a>	
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Zibi : les people en sont déjà fans...</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jedijeux.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Witty Zibi, un jeu signé Jean-Michel Urien, un
internaute comme vous et nous, faisait partie de la
liste des autres jeux proposés par la plateforme de
Witty Games. Il a vu sa côte de popularité décoller
petit à petit jusqu'à atteindre la barre magique des
12300 euros d'investissement (via 116 internautes),
entrainant l'édition du jeu... »
				<br/><a target="_blank" href="http://www.jedisjeux.net/un-second-witty-games-en-cours-d-edition-n-2113.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Zibi :  </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://www.gamestories.fr/test-57-Test-Witty-Zibi-des-bananes-et-des-singes.html" class="lien_press">www.gamestories.fr</a><br/>
					<a target="_blank" href="http://ludisabelle.over-blog.com/article-jean-michel-urien-createur-de-witty-zibi-ou-zhi-ji-zhi-bi-65625900.html" class="lien_press">ludisabelle.over-blog.com</a><br/>
					<a target="_blank" href="http://www.gamestories.fr/actu-63-Witty-Zibi-bientot-entierement-finance.html" class="lien_press">www.gamestories.fr</a><br/>
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/mettez-votre-grain-de-witty~31~11~i554~m20.html" class="lien_press">www.jeuxsurunplateau.com</a><br/>
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Dating : Bye bye vie de célibataire !</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/ELLE.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Amis célibataires accros aux jeux de société, ce
nouveau concept de soirées risque de vous faire
chavirer... »
				<br/><a target="_blank" href="http://www.elle.fr/elle/Love-Sexe/News/Celibataires-trouvez-l-ame-saeur-autour-d-un-jeu-de-societe/%28gid%29/1445396" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Dating :   </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://www.quiveutsortir.com/communaute/events/viewevent/918-Soir%C3%A9e+c%C3%A9libataires+autour+de+jeux+de+soci%C3%A9t%C3%A9,+Paris" class="lien_press">www.quiveutsortir.com</a><br/>
					<a target="_blank" href="http://www.gentlegeek.net/12221/envie-dune-soiree-jeu-entre-celibataire/" class="lien_press">www.gentlegeek.net</a><br/>
					<a target="_blank" href="http://www.parisbouge.com/event/68729/" class="lien_press">www.parisbouge.com</a><br/>
					<a target="_blank" href="http://www.paris-soiree.fr/soiree-witty_dating-5701?PHPSESSID=ccacb73a2ae800a1ccaf5ab143382bb0" class="lien_press">www.paris-soiree.fr</a><br/>
					<a target="_blank" href="http://www.viedegeek.fr/article/photo-soiree-witty-dating/" class="lien_press">www.viedegeek.fr</a><br/>
					<a target="_blank" href="http://library.madeinpresse.fr/samples/MP4z3tL1De8w-5" class="lien_press">library.madeinpresse.fr</a><br/>
					<a target="_blank" href="http://www.working-girl.net/actualite/celibataires-trouvez-lame-soeur-autour-dun-jeu-de-societe.html" class="lien_press">www.working-girl.net</a><br/>
					<a target="_blank" href="http://fr.asmodee.com/ressources/articles/witty-dating-stimulez-votre-jeu-de-seduction.php" class="lien_press">fr.asmodee.com</a><br/>
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/speed-dating-ludique-en-vue~31~11~i729~m20.html" class="lien_press">www.jeuxsurunplateau.com</a>					
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Jeu des glaçons : le jeu le plus givré de l'année</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jedisjeux.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Le tout nouveau jeu proposé à l'édition sur le site MyWittyGames.com a été dévoilé. Le but ultime de ce nouveau jeu qui vous est proposé: garder son glaçon bien congelé. Pour cela il va falloir se défendre des attaques réchauffantes de ses adversaires!»
				<br/><a target="_blank" href="http://www.jedisjeux.net/un-nouveau-witty-games-devoile-n-2462.html" class="lien_press" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de ICE3 :    </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://www.scifi-universe.com/actualites/11110-mywittygames-com-sort-les-glacons-.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://oh-ladies.com/2011/07/le-jeu-le-plus-givre-de-lannee/" class="lien_press">oh-ladies.com</a><br/>
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/my-witty-games-va-t-il-vous-faire-fondre~31~11~i1184~m20.html" class="lien_press">www.jeuxsurunplateau.com</a><br/>
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Mais la liste ne s’arrête pas là ! Vous trouverez ci-dessous les médias qui nous
aident à communiquer :</div>
				<br/>
				<div class="texte" style="margin-left:30px;">
				
					<div style="width:50%; float:left;">
					<a target="_blank" href="http://www.lemonde.fr/idees/chronique/2011/09/14/my-witty-games-l-edition-devient-communautaire_1571816_3232.html" class="lien_press">www.lemonde.fr</a><br/>
					<a target="_blank" href="http://blog-interview.blogspot.com/" class="lien_press">blog-interview.blogspot.com</a><br/>
					<a target="_blank" href="http://ludisabelle.over-blog.com/article-editions-my-witty-games-79640971.html" class="lien_press">ludisabelle.over-blog.com</a><br/>
					<a target="_blank" href="http://desmontsetmerveilles.fr/blog/?p=1185" class="lien_press">desmontsetmerveilles.fr</a><br/>
					<a target="_blank" href="http://www.eparsa.com/index.php/jeux-videos/2161-premiere-plate-forme-dedition-communautaire-de-jeux-de-societe.html" class="lien_press">www.eparsa.com</a><br/>
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/witty-games-lance-sa-propre-radio%7E31%7E11%7Ei1032%7Em20.html" class="lien_press">www.jeuxsurunplateau.com</a><br/>
					<a target="_blank" href="http://www.gamestories.fr/actu-89-Interview-de-Yannick-Robert-co-fondateur-de-MyWittyGames.html" class="lien_press">www.gamestories.fr</a><br/>
					<a target="_blank" href="http://www.scifi-universe.com/fiche_actu.asp?id=10675" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://frenchweb.fr/mywittygames-mymajorcompany-jeux-de-societe/" class="lien_press">frenchweb.fr</a><br/>
					<a target="_blank" href="http://www.korben.info/leweb-2010-le-web-sous-la-neige-mais-avec-le-sourire.html" class="lien_press">www.korben.info</a><br/>
					<a target="_blank" href="http://letraderduweb.wordpress.com/2010/11/23/mywittygames/" class="lien_press">letraderduweb.wordpress.com</a><br/>
					<a target="_blank" href="http://www.lepost.fr/article/2010/11/19/2310529_le-top-10-des-souvenirs-de-parties-de-jeux-de-societe-quand-on-etait-gamins.html" class="lien_press">www.lepost.fr</a><br/>
					<a target="_blank" href="http://www.hinsolite.com/insolite.item.1232/la-vague-de-l" class="lien_press">www.hinsolite.com</a><br/>
					<a target="_blank" href="http://fr.locita.com/actualite/mywittygames-le-mymajorcompany-du-jeu-de-societe/" class="lien_press">fr.locita.com</a><br/>
					<a target="_blank" href="http://www.newsplanete.fr/mywittygames-s23101.html" class="lien_press">www.newsplanete.fr</a><br/>
					<a target="_blank" href="http://www.info-utiles.fr/modules/news/article.php?storyid=4449" class="lien_press">www.info-utiles.fr</a><br/>
					<a target="_blank" href="http://www.teulliac.com/apres-la-musique-le-jeu-de-societe-12320/" class="lien_press">www.teulliac.com</a><br/>
					<a target="_blank" href="http://www.lepost.fr/article/2010/11/03/2291783_une-toute-nouvelle-bd-rigolote-a-decouvrir-ici.html" class="lien_press">www.lepost.fr</a><br/>
					<a target="_blank" href="http://www.vassalforge.org/index.php?option=com_content&amp;view=article&amp;id=424:dorix-devient-witty-bananas&amp;catid=1" class="lien_press">www.vassalforge.org</a><br/>
					<a target="_blank" href="http://www.jojojeux.fr/2011/04/10/my-witty-games-le-jeu-en-communaute/" class="lien_press">www.jojojeux.fr</a>
					</div>
					<div style="width:50%; float:right;">
					<a target="_blank" href="http://www.infosjeunes.com/Remportez-un-veritable-contrat-d-edition-sur-MyWittyGames-com_a315892.html" class="lien_press">www.infosjeunes.com</a><br/>
					<a target="_blank" href="http://www.jedisjeux.net/du-nouveau-chez-witty-games-n-1663.html" class="lien_press">www.jedisjeux.net</a><br/>
					<a target="_blank" href="http://www.bebertandco.fr/?p=11621" class="lien_press">www.bebertandco.fr</a><br/>
					<a target="_blank" href="http://www.lepost.fr/article/2010/10/15/2265760_apres-le-buzz-des-filles-et-de-leur-sac-a-main-voici-l-heure-du-buzz-des-joueurs.html" class="lien_press">www.lepost.fr</a><br/>
					<a target="_blank" href="http://www.scifi-universe.com/actualites/10056-mywittygames-com-devenez-editeur-de-jeu-.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://www.actu-loisirs.com/2010/10/my-witty-games-et-la-coedition-de-jeux.html" class="lien_press">www.actu-loisirs.com</a><br/>
					<a target="_blank" href="http://www.paperblog.fr/3705413/my-witty-games-la-witty-aventure/" class="lien_press">www.paperblog.fr</a><br/>
					<a target="_blank" href="http://www.labelparticipatifactu.com/article-my-witty-games-la-witty-aventure-58465704.html" class="lien_press">www.labelparticipatifactu.com</a><br/>
					<a target="_blank" href="http://www.jeuxsurunplateau.com/fr/news/jeux/dites-wi-mime-dix-fois-wi-witty-pong%7E31%7E11%7Ei590%7Em20.html" class="lien_press">www.jeuxsurunplateau.com</a><br/>
					<a target="_blank" href="http://www.latavernedujeu.fr/news/373/entretien-avec-mywittygames.html" class="lien_press">www.latavernedujeu.fr</a><br/>
					<a target="_blank" href="http://www.labelparticipatifactu.com/article-label-participatif-maintenant-les-jeux-de-societe-57979629.html" class="lien_press">www.labelparticipatifactu.com</a><br/>
					<a target="_blank" href="http://www.sites-a-voir.com/mywittygames-com.php" class="lien_press">www.sites-a-voir.com</a><br/>
					<a target="_blank" href="http://www.petitpeuple.fr/accueil/index.php?option=com_content&amp;view=article&amp;id=795&amp;catid=97" class="lien_press">www.petitpeuple.fr</a><br/>
					<a target="_blank" href="http://www.tounouvo.com/news.php?forprint=600&amp;rubrique=34&amp;nb=34" class="lien_press">www.tounouvo.com</a><br/>
					<a target="_blank" href="http://www.scifi-universe.com/actualites/9833-mywittygames-com-une-video-de-presentation.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://www.lesjeunesnesontpascons.com/?p=591" class="lien_press">www.lesjeunesnesontpascons.com</a><br/>
					<a target="_blank" href="http://www.infosjeunes.com/My-Witty-Games-une-plateforme-d-edition-communautaire-de-jeux-de-societe_a269603.html" class="lien_press">www.infosjeunes.com</a><br/>
					<a target="_blank" href="http://www.jeuxdenim.be/news-1306" class="lien_press">www.jeuxdenim.be</a><br/>
					<a target="_blank" href="http://www.jedisjeux.net/jedinews?news_id=1388" class="lien_press">www.jedisjeux.net</a><br/>
					<a target="_blank" href="http://www.cyberfab.fr/actu_my_witty_games.php" class="lien_press">www.cyberfab.fr</a><br/>
					</div>
				</div>
				
				
				
			</div>
			<div class="spacer"></div>
		</div>
    </div>
   
   
{% endblock %}