{% extends "WittyMwgBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}{{ parent() }} - Presse{% endblock %}

{% block content %}
  
   <div class="blocTitrePage">
    	<p class="titrePage titrePage_faq">Presse</p>
		<p class="descriptionPage descriptionPage_projet">Quand les médias prennent la parole</p>
    </div>
    
    <div id="container">
	
		<div id="blocContenuPresse">
			<div class="item">
				<div class="texte">
				My Witty Games, c&rsquo;est avant tout un esprit communautaire et une ouverture sur l&rsquo;extérieur.
Que deviendrait notre projet sans nos médias ?<br/>
Ils ont aimé, critiqué, questionné... Ils sont les mieux placés pour parler de notre projet et le
faire évoluer.<br/>
N&rsquo;hésitez pas vous aussi à prendre la parole afin de nous aider à avancer !
				</div><br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/ParlentdenousV2.jpg" style="width:100%"/>				
				<br/><br/><br/><br/>
				<div class="soustitre">Tout d&rsquo;abord, un petit passage par nos dossiers de presse</div>
				<br/>
				<div class="texte">
				Vous souhaitez connaître davantage MyWittyGames ?<br/>
				Télécharger le dossier de presse (PDF).<br/><br/>
				Les communiqués concernant la plateforme MyWittyGames :<br/>
				<br/>
				Les communiqués et fiches produit des jeux édités par MyWittyGames :
				<br/><br/>
				</div>
				<div class="soustitre">Espace Photos : MyWittyGames va à la rencontre de nos pipoles !</div>
				<div class="texte">
				Les VIP aussi aiment Witty !
				</div>
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/people/misc/pipole.png" style="width:100%"/>				
				<br/><br/><br/>
				<div class="soustitre">Au tour des médias papiers et web, maintenant, de se pencher sur nos
aventures</div>
				<br/><br/>
				
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/le_monde.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Ce système de financement, qui se prête bien aux communautés actives,
existe également pour les jeux de plateau. MyWittyGames est une maison
d&rsquo;édition collaborative lancée à la fin de 2010... »;
<br/><a target="_blank" href="http://www.lemonde.fr/week-end/article/2011/07/08/les-jeux-dont-vous-etes-le-producteur_1546210_1477893.html" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/ludimag.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Vous avez probablement tous entendu parler de Grégoire, le chanteur du
tube Toi + moi, qui a été produit par My Major Company et avez découvert par
la même occasion le principe d'édition communautaire. Et bien, sachez qu'une
société française, MyWitty Games, a décidé de se lancer dans l'aventure de
l'édition communautaire pour le jeu de société... »;
<br/><a target="_blank" href="http://www.ludimag.com/mywittygames-le-my-major-company-du-jeu/" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>

				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/20minutes.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Musique, presse, équitation, littérature... Les internautes ont l'embarras du
choix pour financer des projets estampillés participatifs... »;
<br/><a target="_blank" href="http://www.20minutes.fr/article/612857/culture-le-crowdfunding-decline-toutes-sauces" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/75020.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Le financement participatif n'a pas fini de surprendre. Après la musique, l'art et tant d'autres domaines, voici quapos;un site propose aux internautes d'aider des jeux de société à sortir dans le commerce en suivant ce modèle économique... »;
<br/><a target="_blank" href="http://le75020.fr/paris-XXe-75020-20e-arrondissement/vie-locale/economie/28347-witty-games-jeu-societe-pepiniere-soleillet.paris-75020-info" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/cadeau-maestro.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Un concept très sympa est en train de naître sur le Web : les labels communautaires. Peut-être avez-vous déjà entendu parler de MyMajorCompany, ce site qui permet à tout un chacun d'investir dans un artiste musical inconnu qui, s' il réunit suffisament d'argent, signera un contrat avec une maison de disques , produira des albums... ? Le même principe existe pour les jeux de société, avec MyWittyGames. »;
<br/><a target="_blank" href="http://www.cadeau-maestro.com/blog/devenez-producteur-de-jeux-de-societe-avec-my-witty-games" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/france-televisions.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Une petite vidéo sur france télévisions... »;
<br/><a target="_blank" href="http://www.francetv.fr/web10ftv/?page=video&type=ilike&id=k1CIFOmRWvY" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/bertholet.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« Clairement une bonne idée, ça fait plaisir de voir de vrais jeux alors qu'on passe de plus en plus de temps devant un écran, les yeux rivés à quelques pixels colorés...  »;
<br/><a target="_blank" href="http://guilhembertholet.com/startups/2011/01/mywittygames/" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jedijeux.png" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
				« La plateforme MyWittyGames.com vient de lancer sa première webradio ludique. Chaque semaine, à l'antenne un invit&é est reçu, le plus souvent une personnalité du monde ludique. L'objectif étant de faire découvrir aux néophytes les grands noms du milieu... »
<br/><a target="_blank" href="http://www.mywittygames.com/web_content/img/logo_press/jedijeux.png" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/jeunes.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« L'univers des jeux de société, en plein essor depuis une dizaine d'années, est paradoxalement le domaine le plus partagé et le moins médiatisé des loisirs cintemporains. C'est donc sans surprise qu'il se dote enfin de sa propre plateforme d'édition communautaire sous les traits de MyWittyGames... »
				<br/><a target="_blank" href="http://www.lesjeunesnesontpascons.com/?p=591" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/krinein.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;"><br/><br/>
« Un éditeur pas comme les autres... »
				<br/><a target="_blank" href="http://www.krinein.com/jeux-societe/decouvrons-mywittygamescom-15690.html" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/RTL2.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Les fans peuvent également devenir co-éditeurs de jeux grâce à MyWittyGames... » 
				<br/><a target="_blank" href="http://legrandmorning.rtl2.fr/2010/11/le-crowdfunding-se-d%C3%A9cline-%C3%A0-toutes-les-sauces.html" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/techcrunch.jpeg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« MyWittyGames a donc le terrain parfait pour se faire une place dans l'écosystème... »
				<br/><a target="_blank" href="http://www.mywittygames.com/web_content/img/logo_press/techcrunch.jpeg" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Chronos : financé en un temps record !</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/stories.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Trop tard ! Il est maintenant trop tard pour investir
dans le jeu Witty Chronos... En effet, toutes les parts ont
été vendues en un temps record. En attendant la sortie
du jeu, il est toujours possible de le tester grâce à sa
version en ligne... »
				<br/><a href="http://gamestories.fr/actu-86-Witty-Chronos-version-en-ligne.html" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Chronos : </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://jdr-mag.over-blog.com/article-witty-chronos-petit-test-avant-sa-sortie-73450196.html" class="lien_press">jdr-mag.over-blog.com</a><br/>
					<a target="_blank" href="http://www.ludimag.com/witty-chronos-3e-witty-edite/" class="lien_press">www.ludimag.com</a><br/>
					<a target="_blank" href="http://www.chamboultou.fr/witty-chronos-3e-witty-edite,3669.html" class="lien_press">www.chamboultou.fr</a></td></tr><tr><td style="padding-right:20px;"><a target="_blank" href="http://www.scifi-universe.com/actualites/10750-un-nouveau-jeu-chez-mywittygames-com.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://www.jedisjeux.net/witty-chronos-vu-de-pres-n-2309.html" class="lien_press">www.jedisjeux.net</a>
				</div>
				
				<br/>
				<hr/>
				<br/><br/>
				<div class="soustitre">Witty Pong : L'aventure commence !</div>
				<br/><br/>
				<img src="http://s3-eu-west-1.amazonaws.com/mywittygames/presse/logos/stories.jpg" style="width:20%; float:left; margin-right:30px;"/>				
				<div class="texte" style="width:75%; float:right;">
« Trop tard ! Il est maintenant trop tard pour investir
dans le jeu Witty Chronos... En effet, toutes les parts ont
été vendues en un temps record. En attendant la sortie
du jeu, il est toujours possible de le tester grâce à sa
version en ligne... »
				<br/><a href="http://gamestories.fr/actu-86-Witty-Chronos-version-en-ligne.html" style="color:#333";>→ lire la suite de l'article</a>
				</div>
				<div class="spacer"></div><br/><br/>
				<div class="soustitre" style="width:100%;">Autres sites parlant de Witty Chronos : </div>
				<br/>
				<div class="texte" style="margin-left:30px;">
					<a target="_blank" href="http://jdr-mag.over-blog.com/article-witty-chronos-petit-test-avant-sa-sortie-73450196.html" class="lien_press">jdr-mag.over-blog.com</a><br/>
					<a target="_blank" href="http://www.ludimag.com/witty-chronos-3e-witty-edite/" class="lien_press">www.ludimag.com</a><br/>
					<a target="_blank" href="http://www.chamboultou.fr/witty-chronos-3e-witty-edite,3669.html" class="lien_press">www.chamboultou.fr</a></td></tr><tr><td style="padding-right:20px;"><a target="_blank" href="http://www.scifi-universe.com/actualites/10750-un-nouveau-jeu-chez-mywittygames-com.htm" class="lien_press">www.scifi-universe.com</a><br/>
					<a target="_blank" href="http://www.jedisjeux.net/witty-chronos-vu-de-pres-n-2309.html" class="lien_press">www.jedisjeux.net</a>
				</div>
				
				
				
				
				
				
			</div>
			<div class="spacer"></div>
		</div>
    </div>
   
   
{% endblock %}