/* --- WittyProject --- */

#container{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

/* --- Titre Page --- */

.blocTitrePage{
	margin-top: 20px;
	margin-bottom: 40px;
}

.titrePage_projet{
	color:#4270be;
}

.descriptionPage_projet{
	color:#514846;
}

.infosPage{
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:16px;
	color:#999;
	text-align:center;
	margin-top:20px;
}

/* --- Bloc jeu --- */

.bloc_jeu{
	display:block;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	width:310px;
	height:1OO%;
	background-color:#FFF;
	border-radius:4px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	
	border: solid 1px #b7b7b7;
	float:left;
}

.img_jeu{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:170px;
	background-color:#000;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border: solid 1px #b7b7b7;
	margin-bottom:16px;
}

.titreJeu{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:30px;
	color:#4270be;
	text-align:center;
	margin-bottom:16px;
}

.descriptionJeu{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:14px;
	color:#514846;
	text-align:center;
	line-height: 1.2;
	margin-bottom:10px;
}

.bloc_jeu_haut{
	display:block;
	width:290px;
	height:1OO%;
	background-color:#FFF;
	padding:10px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.bloc_jeu_haut:hover{
	background-color:#f7f7f7;
}

.bloc_jeu_bas{
	display:block;
	width:100%;
	height:75px;
	background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
	border-bottom_left-radius:4px;
	border-bottom_right-radius:4px;
	border-top: solid 1px #b7b7b7;
}

.bloc_caracteritiques{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:75px;
	width:103px;
	float:left;
}

.style_caracteritiques{
	font-family: 'Crete Round', serif;
	font-size:20px;
	color:#514846;
	text-align:center;
}

.img_user{
	display:block;
	background-image:url(../images/btn_user_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_piggy{
	display:block;
	background-image:url(../images/btn_piggy_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_clock{
	display:block;
	background-image:url(../images/btn_clock_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}