/* --- WittyProject and WittyList_project --- */

.blocTitrePage{
	margin-top: 30px;
	margin-bottom: 40px;
}

.titrePage{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:40px;
	color:#4270be;
	text-align:center;
	margin-bottom:16px;
}

.descriptionPage{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:20px;
	color:#514846;
	text-align:center;
	line-height: 1.2;
}