<div class="projets_soutenus">
	{% for userReward in userRewards %}
	
		<p>{{ userReward.reward.project.title }} - {{ userReward.reward.title }}
		
		<a style='margin-left:50px;float:right' href="{{ path('annuler_contrepartie', {'userRewardId': userReward.id}) }}" class="annuler_contrepartie">Annuler cette contrepartie</a>
		
		</p>
		
		{% for userRewardOption in app.user.getUserRewardOptionsByRewardId(userReward.reward.id) %}
			
			<p>
				{{ userRewardOption.rewardOption.title }}
			</p>
			
		{% endfor %}
		
		<br/>
	{% endfor %}
</div>