{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittytransaction/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Confirmation de soutien{% endblock %}

{% block content %}

<div id="container">
	<div class="blocTitrePage">
    	<p class="titrePage">Confirmation de soutien</p>
        <p class="descriptionPage">Merci d'avoir soutenu {{ project.title }}.</p>
		<p class="infosPage">Vous pouvez consulter les projets de jeu que vous avez soutenus en allant dans votre profil.<br/><br/> Vous allez être redirigé sur la page d'accueil dans <span class="timer">10</span> secondes.</p>
    </div>
</div>

<!-- Google Code for Achat de contrepartie confirmé Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 995997525;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "DF1dCNPjvwQQ1e722gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/995997525/?value=0&amp;label=DF1dCNPjvwQQ1e722gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<script>

	function timer()
	{
			//Timer pour la redirection
			var time_left = parseInt($('.timer').html());
			if (time_left < 1)
			{
				window.location = "{{ path('mwg_accueil') }}";
			}
			else
			{
				$('.timer').html(time_left - 1);
				setTimeout("timer()", 1000);
			}
	}


	$(document).ready(function(){
		setTimeout("timer()", 1000);
	});
</script>
	
{% endblock content %}
