{% extends "::base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div id="container">

	<p class="titrePage">Confirmation de soutien</p>
	<div id="blocContenuProfil">
		<p>
			Merci d'avoir soutenu {{ project.title }}.
		</p>
	</div>
	
	
</div>	
	
{% endblock content %}
