/* --- WittyHome --- */

#container{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

/* --- Titre page --- */

.titrePage_home{
	color:#FFF;
	padding-top:20px;
}

.descriptionPage_home{
	color:#FFF;
}

.infosPage_home{
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:16px;
	color:#bfd7fe;
	text-align:center;
	margin-top:20px;
}

.blocTitreHome{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:240px;
	width:100%;
	background-color:#4270be;
	margin-bottom: 20px;
}

.btn_sinscrireNow{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:35px;
	width:264px;
	background-image:url(../images/btn_sinscrire_normal.png);
	margin-top:20px;
	cursor:pointer;
}

.btn_sinscrireNow:hover{
	background-image:url(../images/btn_sinscrire_hover.png);
}

/* --- Grand Bloc jeu --- */

.bloc_jeu_grand{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:960px;
	height:100%;
	background-color:#FFF;
	border-radius:4px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	
	border: solid 1px #b7b7b7;
	padding:10px 0px 10px 10px;
}

.bloc_jeu_grand:hover{
	background-color:#f7f7f7;
}


.img_jeu_grand{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:530px;
	height:360px;
	background-color:#000;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	float:left;
}

.bloc_jeu_haut_grand{
	display:block;
	width:370px;
	height:200px;
	float:left;
	margin-left:30px;
	margin-right:30px;
}

.titreJeu_grand{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:30px;
	color:#4270be;
	margin-bottom:16px;
}

.descriptionJeu_grand{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:16px;
	color:#514846;
	line-height: 1.2;
	margin-bottom:10px;
}

.texteJeu_grand{
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:14px;
	color:#786e6c;
	line-height: 1.2;
	margin-bottom:10px;
}

.bloc_jeu_bas_grand{
	display:block;
	width:400px;
	height:128px;
	background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%);
	border-top: solid 1px #b7b7b7;
	border-bottom: solid 1px #b7b7b7;
	float:left;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
}

.bloc_caracteritiques_grand{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:75px;
	width:133px;
	float:left;
}

.style_NBcaracteritiques_grand{
	font-family: 'Crete Round', serif;
	font-size:30px;
	color:#514846;
	text-align:center;
	margin-bottom:10px;
}

.style_caracteritiques_grand{
	font-family: 'Crete Round', serif;
	font-size:14px;
	color:#514846;
	text-align:center;
	margin-bottom:10px;
}

.img_user_grand{
	display:block;
	background-image:url(../images/btn_user.png);
	width:54px;
	height:47px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_piggy_grand{
	display:block;
	background-image:url(../images/btn_piggy.png);
	width:54px;
	height:47px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_clock_grand{
	display:block;
	background-image:url(../images/btn_clock.png);
	width:54px;
	height:47px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}



/* --- Bloc jeu --- */

.bloc_jeu{
	display:block;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	width:310px;
	height:1OO%;
	background-color:#FFF;
	border-radius:4px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	
	border: solid 1px #b7b7b7;
	float:left;
}

.img_jeu{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:170px;
	background-color:#000;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border: solid 1px #b7b7b7;
	margin-bottom:16px;
}

.titreJeu{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:30px;
	color:#4270be;
	text-align:center;
	margin-bottom:16px;
}

.descriptionJeu{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:14px;
	color:#514846;
	text-align:center;
	line-height: 1.2;
	margin-bottom:10px;
}

.bloc_jeu_haut{
	display:block;
	width:290px;
	height:1OO%;
	background-color:#FFF;
	padding:10px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.bloc_jeu_haut:hover{
	background-color:#f7f7f7;
}

.bloc_jeu_bas{
	display:block;
	width:100%;
	height:75px;
	background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 12%, #d9d9d9 90%, #bfbfbf);
	border-bottom_left-radius:4px;
	border-bottom_right-radius:4px;
	border-top: solid 1px #b7b7b7;
}

.bloc_caracteritiques{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:75px;
	width:103px;
	float:left;
}

.style_caracteritiques{
	font-family: 'Crete Round', serif;
	font-size:20px;
	color:#514846;
	text-align:center;
}

.img_user{
	display:block;
	background-image:url(../images/btn_user_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_piggy{
	display:block;
	background-image:url(../images/btn_piggy_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}

.img_clock{
	display:block;
	background-image:url(../images/btn_clock_petit.png);
	width:41px;
	height:35px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	opacity:0.7;
	margin-top:5px;
	margin-bottom:3px;
}