/* --- WittyHome --- */

#container{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

/* --- Blog --- */

section.blog{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	width:930px;
	height:100%;
	background-color:#FFF;
	border-radius:4px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	
	border: solid 1px #b7b7b7;
	padding:20px;
}

section.blog h2{
	color: #666666;
    font-family: 'Karla',sans-serif;
    font-size: 1.375em;
    margin-bottom: 10px;
	display:inline-block;
	float:left;
}
section.blog .delay{
	color: #666666;
    font-family: 'Karla',sans-serif;
    font-size: 1em;
	float:left;
	margin-top: 7px;
	margin-left: 1%;
}
section.blog article{
	color: #666666;
    font-family: 'Karla',sans-serif;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* --- Titre page --- */

.titrePage_home{
	color:#FFF;
	padding-top:20px;
}

.descriptionPage_home{
	color:#FFF;
}

.infosPage_home{
	font-family:Arial, Helvetica, sans-serif;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:1em;
	color:#bfd7fe;
	text-align:center;
	margin-top:20px;
}

.rejoignez_home{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#bfd7fe;
}

.rejoignez_home:hover{
	color:#fff;
}

.blocTitreHome{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:250px;
	width:100%;
	background-color:#4270be;
	margin-bottom: 20px;
	border-bottom: solid 1px rgba(0,0,0,0.5);
	/*box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);*/
}

.btn_sinscrireNow{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:45px;
	width:279px;
	background-image:url(../images/btn_sinscrire_normal.png);
	margin-top:20px;
	cursor:pointer;
}

.btn_sinscrireNow:hover{
	background-image:url(../images/btn_sinscrire_hover.png);
}